.flows.json.backup
[
    {
        "id": "63e4ca87ec15e7b6",
        "type": "tab",
        "label": "MicroBit <-> OSC Bridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "943e204f81529182",
        "type": "tab",
        "label": "Pareto Anywhere to OSC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9529f2fd9052e78b",
        "type": "tab",
        "label": "OSC Switchboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb01535f48abe2ce",
        "type": "tab",
        "label": "OSCBLE Bridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3efac045c708839",
        "type": "tab",
        "label": "Graveyard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ecaa01218566e73",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "16dd31f690be98d3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9d0c9e13c6e1254b",
        "type": "mqtt-broker",
        "name": "rpi-not-local",
        "broker": "http://192.168.73.88/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "87cef86360be7223",
        "type": "serial in",
        "z": "63e4ca87ec15e7b6",
        "name": "serialp",
        "serial": "4ecaa01218566e73",
        "x": 70,
        "y": 140,
        "wires": [
            [
                "832e51e1892d2dee"
            ]
        ]
    },
    {
        "id": "8273d38b742461d1",
        "type": "osc",
        "z": "63e4ca87ec15e7b6",
        "name": "oscout",
        "path": "",
        "metadata": true,
        "x": 410,
        "y": 140,
        "wires": [
            [
                "ce86589b352c2c71"
            ]
        ]
    },
    {
        "id": "832e51e1892d2dee",
        "type": "function",
        "z": "63e4ca87ec15e7b6",
        "name": "split messsage",
        "func": "var split = msg.payload.split(\":\");\nreturn {\n    topic: \"/\"+split[0],\n    payload:split[1]\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 140,
        "wires": [
            [
                "8273d38b742461d1"
            ]
        ]
    },
    {
        "id": "ce86589b352c2c71",
        "type": "udp out",
        "z": "63e4ca87ec15e7b6",
        "name": "bcast7777",
        "addr": "192.168.73.88",
        "iface": "",
        "port": "7777",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "broad",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "5ff5a5cb5150699d",
        "type": "osc",
        "z": "63e4ca87ec15e7b6",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "a3b3ff78fa377765"
            ]
        ]
    },
    {
        "id": "dd6a7c5fd2bc57a1",
        "type": "udp in",
        "z": "63e4ca87ec15e7b6",
        "name": "",
        "iface": "",
        "port": "7778",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 80,
        "y": 300,
        "wires": [
            [
                "5ff5a5cb5150699d"
            ]
        ]
    },
    {
        "id": "02190d58f95b35a6",
        "type": "serial out",
        "z": "63e4ca87ec15e7b6",
        "name": "toMicroBit",
        "serial": "4ecaa01218566e73",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "a3b3ff78fa377765",
        "type": "function",
        "z": "63e4ca87ec15e7b6",
        "name": "split messsage",
        "func": "\nlet topic = msg.topic.replace(/^\\//,\"\");\nreturn {\n    payload:topic+\":\"+msg.payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "02190d58f95b35a6"
            ]
        ]
    },
    {
        "id": "533c9463e67d2fee",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "This flow Runs on the IoT Sandbox",
        "info": "This Flow translates Microbits Radio messages to/from OSC ",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "230cb2ed91a44c36",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Get MicroBit messages over serial from a dedicated Microbits device attached to this computer",
        "info": "",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "3016901ca21ed23b",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Send UDP messages over Serial to a dedicated Microbits device attached to this computer",
        "info": "",
        "x": 330,
        "y": 260,
        "wires": []
    },
    {
        "id": "af14cac50388c72e",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Then send them over UDP to the OSC Switchboard with a common naming convention",
        "info": "",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "5ac4fb824a5f6e19",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Route the messages with the OSC Switchboard!",
        "info": "",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "38cc5b4c5f2098c0",
        "type": "osc",
        "z": "943e204f81529182",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "c603450b1dfdf6ba"
            ]
        ]
    },
    {
        "id": "c603450b1dfdf6ba",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "a04d3c8d9fa2ce51",
        "type": "udp in",
        "z": "943e204f81529182",
        "name": "",
        "iface": "",
        "port": "7777",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "38cc5b4c5f2098c0"
            ]
        ]
    },
    {
        "id": "c4d470ef752fbe8f",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001/devices/c8c8751dd883/3",
        "x": 120,
        "y": 440,
        "wires": [
            [],
            [
                "0d246c6d36f59726"
            ]
        ]
    },
    {
        "id": "57c7f54bd83b1b4a",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "This flow Runs on IoT Sandbox, with ParetoAnywhere Installed",
        "info": "This machine needs to have ParetoAnywhere installed.",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "41759bd8c50d792e",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "when creating new BLE messages, use dynamb property names from here: https://reelyactive.github.io/diy/cheatsheet/#dynamb",
        "info": "",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "0d246c6d36f59726",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/joltd883/buttonPressCount",
        "func": "let newmsg = {topic: \"/joltd883/buttonPressCount\",\n            payload: msg.payload.txCount};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "3a0809e5bc51860d"
            ]
        ]
    },
    {
        "id": "3a0809e5bc51860d",
        "type": "osc",
        "z": "943e204f81529182",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 830,
        "y": 440,
        "wires": [
            [
                "8afcf8bbf6025b2d"
            ]
        ]
    },
    {
        "id": "8afcf8bbf6025b2d",
        "type": "udp out",
        "z": "943e204f81529182",
        "name": "bcast7777",
        "addr": "192.168.73.88",
        "iface": "",
        "port": "7777",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "broad",
        "x": 1010,
        "y": 440,
        "wires": []
    },
    {
        "id": "4cfe56bd16725cf3",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "each device property gets their own section here",
        "info": "# each device property gets their own section here",
        "x": 220,
        "y": 340,
        "wires": []
    },
    {
        "id": "5d85724301b80d54",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "assign a device ID here",
        "info": "",
        "x": 140,
        "y": 400,
        "wires": []
    },
    {
        "id": "b663a9463fb05cf2",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "25e7c3bfc958a671",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send over UDP to the OSC Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1220,
        "y": 400,
        "wires": []
    },
    {
        "id": "528a29e47b1dce71",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "this is for debug purposes, to see if the messages you're generating below are going through",
        "info": "# each device property gets their own section here",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "900f707651e7b243",
        "type": "osc",
        "z": "9529f2fd9052e78b",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "05c6e88af96d8fbf",
                "b3664aa62511cdcf"
            ]
        ]
    },
    {
        "id": "05c6e88af96d8fbf",
        "type": "debug",
        "z": "9529f2fd9052e78b",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "287e700b6d46a2a0",
        "type": "udp in",
        "z": "9529f2fd9052e78b",
        "name": "",
        "iface": "",
        "port": "7777",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "900f707651e7b243"
            ]
        ]
    },
    {
        "id": "1cd3d5b24f25cefe",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "OSC Messages come in here, over port 7777",
        "info": "",
        "x": 210,
        "y": 100,
        "wires": []
    },
    {
        "id": "5347604aa986a9b3",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "This flow Runs on the IoT Sandbox",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "5865022dfbe01843",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Look in the debug window to see what kind of messages are coming in",
        "info": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "b3664aa62511cdcf",
        "type": "switch",
        "z": "9529f2fd9052e78b",
        "name": "/joltd883/buttonPressCount",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/joltd883/buttonPressCount",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "d95291ead096abd9"
            ],
            [
                "8cc41e8ca166cd4b",
                "012fd8313d1e7747"
            ]
        ]
    },
    {
        "id": "6a7fb0eb03efb21c",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "add INCOMING ROUTES based on the OSC topics",
        "info": "",
        "x": 230,
        "y": 200,
        "wires": []
    },
    {
        "id": "d95291ead096abd9",
        "type": "debug",
        "z": "9529f2fd9052e78b",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "8cc41e8ca166cd4b",
        "type": "debug",
        "z": "9529f2fd9052e78b",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "5dcceb5b7c97fbb9",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Top output if it matches",
        "info": "",
        "x": 240,
        "y": 260,
        "wires": []
    },
    {
        "id": "495e8da81d6f0da4",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "bottom output if it doesn't; pass to the next SWITCH",
        "info": "",
        "x": 250,
        "y": 340,
        "wires": []
    },
    {
        "id": "012fd8313d1e7747",
        "type": "switch",
        "z": "9529f2fd9052e78b",
        "name": "/next/topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/topic/name/here",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d55586562ead6344",
        "type": "inject",
        "z": "9529f2fd9052e78b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "LED2.reset();",
        "payloadType": "str",
        "x": 830,
        "y": 480,
        "wires": [
            [
                "1fc427d225ff174d"
            ]
        ]
    },
    {
        "id": "1fc427d225ff174d",
        "type": "function",
        "z": "9529f2fd9052e78b",
        "name": "function 3",
        "func": "msg.topic = \"/ble/write/c8:c8:75:1d:d8:83/nus/nus_tx\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 480,
        "wires": [
            [
                "fdc39f1c5c5d984b"
            ]
        ]
    },
    {
        "id": "fdc39f1c5c5d984b",
        "type": "osc",
        "z": "9529f2fd9052e78b",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 1210,
        "y": 480,
        "wires": [
            [
                "779250f6eb6937e7"
            ]
        ]
    },
    {
        "id": "779250f6eb6937e7",
        "type": "udp out",
        "z": "9529f2fd9052e78b",
        "name": "bcast7779 to OSCBLE Bridge",
        "addr": "192.168.73.69",
        "iface": "",
        "port": "7779",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "broad",
        "x": 1430,
        "y": 480,
        "wires": []
    },
    {
        "id": "4b0a61b5914709ec",
        "type": "inject",
        "z": "bb01535f48abe2ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "LED2.reset();",
        "payloadType": "str",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "cac007d4d384dc89"
            ]
        ]
    },
    {
        "id": "908ac2aac00dd830",
        "type": "inject",
        "z": "bb01535f48abe2ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "LED2.set();",
        "payloadType": "str",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "cac007d4d384dc89"
            ]
        ]
    },
    {
        "id": "cac007d4d384dc89",
        "type": "function",
        "z": "bb01535f48abe2ce",
        "name": "Add a newline",
        "func": "msg.payload += \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 120,
        "wires": [
            [
                "8faaa0ac08c81b8f"
            ]
        ]
    },
    {
        "id": "8faaa0ac08c81b8f",
        "type": "mqtt out",
        "z": "bb01535f48abe2ce",
        "name": "mqtt to c8:c8:75:1d:d8:83",
        "topic": "/ble/write/c8:c8:75:1d:d8:83/nus/nus_tx",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16dd31f690be98d3",
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "02d9ab698812bb8e",
        "type": "inject",
        "z": "bb01535f48abe2ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "setFreq(500);",
        "payloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "cac007d4d384dc89"
            ]
        ]
    },
    {
        "id": "9ae421e5536f7831",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "This flow Runs on the oscble bridge pi, not the IoT Sandbox",
        "info": "This machine needs to have EspruinoHub installed.",
        "x": 480,
        "y": 20,
        "wires": []
    },
    {
        "id": "ff89a7754694aeed",
        "type": "osc",
        "z": "bb01535f48abe2ce",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "0a6d5f071d64714c",
                "f6b281495b76fde7"
            ]
        ]
    },
    {
        "id": "d63311a25fa17e3b",
        "type": "udp in",
        "z": "bb01535f48abe2ce",
        "name": "",
        "iface": "",
        "port": "7779",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "ff89a7754694aeed",
                "55986b527b32eb1c"
            ]
        ]
    },
    {
        "id": "0a6d5f071d64714c",
        "type": "debug",
        "z": "bb01535f48abe2ce",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "55986b527b32eb1c",
        "type": "debug",
        "z": "bb01535f48abe2ce",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 460,
        "wires": []
    },
    {
        "id": "f6b281495b76fde7",
        "type": "function",
        "z": "bb01535f48abe2ce",
        "name": "Add a newline",
        "func": "msg.payload += \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "cb70afc7d117c778",
                "014e6de00a067bc8"
            ]
        ]
    },
    {
        "id": "cb70afc7d117c778",
        "type": "mqtt out",
        "z": "bb01535f48abe2ce",
        "name": "mqtt to BLE",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16dd31f690be98d3",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "014e6de00a067bc8",
        "type": "debug",
        "z": "bb01535f48abe2ce",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "60a86d3823f3f5db",
        "type": "comment",
        "z": "a3efac045c708839",
        "name": "Old bits I don't want to totally delete. Parking lot.",
        "info": "",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "3ccfd232644d3611",
        "type": "pareto-anywhere-socketio",
        "z": "a3efac045c708839",
        "uri": "http://localhost:3001/devices/c8c8751dd883/3",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "42afc2b2dd0ad3e2",
                "2a8f57065fb28b88"
            ],
            []
        ]
    },
    {
        "id": "0ea6cd11bf0d3f51",
        "type": "red-advlib-ble",
        "z": "a3efac045c708839",
        "name": "decrypt each packet",
        "ignoreProtocolOverheadCheckbox": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "e72b03d8a82489a0",
                "943d3a0f98d5e21c"
            ]
        ]
    },
    {
        "id": "df65414db9f74cb8",
        "type": "change",
        "z": "a3efac045c708839",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload.packets",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "0ea6cd11bf0d3f51"
            ]
        ]
    },
    {
        "id": "4204e108516287ef",
        "type": "debug",
        "z": "a3efac045c708839",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 220,
        "wires": []
    },
    {
        "id": "395d945f07b5fc2b",
        "type": "split",
        "z": "a3efac045c708839",
        "name": "extract packets",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload.packets",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "df65414db9f74cb8"
            ]
        ]
    },
    {
        "id": "e72b03d8a82489a0",
        "type": "switch",
        "z": "a3efac045c708839",
        "name": "is name txCount?",
        "property": "payload.advDecoded",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "txCount",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 320,
        "wires": [
            [
                "705d8e7f865f600a"
            ],
            []
        ]
    },
    {
        "id": "705d8e7f865f600a",
        "type": "change",
        "z": "a3efac045c708839",
        "name": "set payload to just the button value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.advDecoded.txCount",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "7f9f23fecefd14fe"
            ]
        ]
    },
    {
        "id": "943d3a0f98d5e21c",
        "type": "debug",
        "z": "a3efac045c708839",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "7f9f23fecefd14fe",
        "type": "rbe",
        "z": "a3efac045c708839",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1130,
        "y": 320,
        "wires": [
            [
                "4204e108516287ef"
            ]
        ]
    },
    {
        "id": "42afc2b2dd0ad3e2",
        "type": "debug",
        "z": "a3efac045c708839",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 180,
        "wires": []
    },
    {
        "id": "2a8f57065fb28b88",
        "type": "function",
        "z": "a3efac045c708839",
        "name": "function 2",
        "func": "if(Array.isArray(msg.payload.packets)){\n    msg.payload.packets.reverse();\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 220,
        "wires": [
            [
                "395d945f07b5fc2b"
            ]
        ]
    }
]