.flows.json.backup
[
    {
        "id": "63e4ca87ec15e7b6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "943e204f81529182",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9529f2fd9052e78b",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb01535f48abe2ce",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ecaa01218566e73",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "16dd31f690be98d3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9d0c9e13c6e1254b",
        "type": "mqtt-broker",
        "name": "rpi-not-local",
        "broker": "http://192.168.73.88/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "87cef86360be7223",
        "type": "serial in",
        "z": "63e4ca87ec15e7b6",
        "name": "serialp",
        "serial": "4ecaa01218566e73",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "a7cb5d8e8603f53b",
                "832e51e1892d2dee"
            ]
        ]
    },
    {
        "id": "a7cb5d8e8603f53b",
        "type": "debug",
        "z": "63e4ca87ec15e7b6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 220,
        "wires": []
    },
    {
        "id": "8273d38b742461d1",
        "type": "osc",
        "z": "63e4ca87ec15e7b6",
        "name": "oscout",
        "path": "",
        "metadata": true,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "ce86589b352c2c71",
                "74d8288b48bd17f1"
            ]
        ]
    },
    {
        "id": "832e51e1892d2dee",
        "type": "function",
        "z": "63e4ca87ec15e7b6",
        "name": "split messsage",
        "func": "var split = msg.payload.split(\":\");\nreturn {\n    topic: \"/\"+split[0],\n    payload:split[1]\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 80,
        "wires": [
            [
                "f4c013a4766df6fb",
                "8273d38b742461d1"
            ]
        ]
    },
    {
        "id": "f4c013a4766df6fb",
        "type": "debug",
        "z": "63e4ca87ec15e7b6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 220,
        "wires": []
    },
    {
        "id": "ce86589b352c2c71",
        "type": "udp out",
        "z": "63e4ca87ec15e7b6",
        "name": "bcast7777",
        "addr": "192.168.73.255",
        "iface": "",
        "port": "7777",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "broad",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "74d8288b48bd17f1",
        "type": "debug",
        "z": "63e4ca87ec15e7b6",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "5ff5a5cb5150699d",
        "type": "osc",
        "z": "63e4ca87ec15e7b6",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "28b2bdb09e90a85f",
                "a3b3ff78fa377765"
            ]
        ]
    },
    {
        "id": "dd6a7c5fd2bc57a1",
        "type": "udp in",
        "z": "63e4ca87ec15e7b6",
        "name": "",
        "iface": "",
        "port": "7778",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "5ff5a5cb5150699d",
                "ab6abb3b4739a12d"
            ]
        ]
    },
    {
        "id": "ab6abb3b4739a12d",
        "type": "debug",
        "z": "63e4ca87ec15e7b6",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 100,
        "y": 520,
        "wires": []
    },
    {
        "id": "28b2bdb09e90a85f",
        "type": "debug",
        "z": "63e4ca87ec15e7b6",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 520,
        "wires": []
    },
    {
        "id": "02190d58f95b35a6",
        "type": "serial out",
        "z": "63e4ca87ec15e7b6",
        "name": "toMicroBit",
        "serial": "4ecaa01218566e73",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "a3b3ff78fa377765",
        "type": "function",
        "z": "63e4ca87ec15e7b6",
        "name": "split messsage",
        "func": "\nlet topic = msg.topic.replace(/^\\//,\"\");\nreturn {\n    payload:topic+\":\"+msg.payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "02190d58f95b35a6",
                "d329ebe6d56ba24c"
            ]
        ]
    },
    {
        "id": "d329ebe6d56ba24c",
        "type": "debug",
        "z": "63e4ca87ec15e7b6",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "38cc5b4c5f2098c0",
        "type": "osc",
        "z": "943e204f81529182",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "c603450b1dfdf6ba"
            ]
        ]
    },
    {
        "id": "c603450b1dfdf6ba",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "a04d3c8d9fa2ce51",
        "type": "udp in",
        "z": "943e204f81529182",
        "name": "",
        "iface": "",
        "port": "7777",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "38cc5b4c5f2098c0"
            ]
        ]
    },
    {
        "id": "69866f898c066398",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001/devices/90dd5dbbdf15/2",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "37cced4db9e2a227",
                "c362818654766b9b"
            ],
            [
                "8f13fe705820e3b1"
            ]
        ]
    },
    {
        "id": "8f13fe705820e3b1",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "37cced4db9e2a227",
        "type": "template",
        "z": "943e204f81529182",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{rssi}} !",
        "output": "str",
        "x": 580,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c362818654766b9b",
        "type": "change",
        "z": "943e204f81529182",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssiSignature[0].rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c4d470ef752fbe8f",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001/devices/c8c8751dd883/3",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "3fbf55c0082b16a8",
                "e8b55db461cb3fd9"
            ],
            [
                "07c7b147c409a6f9"
            ]
        ]
    },
    {
        "id": "4b31980f0ec5f475",
        "type": "red-advlib-ble",
        "z": "943e204f81529182",
        "name": "decrypt each packet",
        "ignoreProtocolOverheadCheckbox": false,
        "x": 700,
        "y": 500,
        "wires": [
            [
                "8c0ee2f0e428e7c8",
                "e26ff160c09a9ecc"
            ]
        ]
    },
    {
        "id": "b85f710bee0d787b",
        "type": "change",
        "z": "943e204f81529182",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload.packets",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 500,
        "wires": [
            [
                "4b31980f0ec5f475"
            ]
        ]
    },
    {
        "id": "b7f88eb88ca2c200",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 580,
        "wires": []
    },
    {
        "id": "3fbf55c0082b16a8",
        "type": "split",
        "z": "943e204f81529182",
        "name": "extract packets",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload.packets",
        "x": 280,
        "y": 500,
        "wires": [
            [
                "b85f710bee0d787b"
            ]
        ]
    },
    {
        "id": "8c0ee2f0e428e7c8",
        "type": "switch",
        "z": "943e204f81529182",
        "name": "is name isButtonPressed?",
        "property": "payload.advDecoded",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "isButtonPressed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 500,
        "wires": [
            [
                "90f855284ace2427"
            ],
            []
        ]
    },
    {
        "id": "90f855284ace2427",
        "type": "change",
        "z": "943e204f81529182",
        "name": "set payload to just the button value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.advDecoded.isButtonPressed",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 500,
        "wires": [
            [
                "563a6c8936246676"
            ]
        ]
    },
    {
        "id": "e26ff160c09a9ecc",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "563a6c8936246676",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1450,
        "y": 500,
        "wires": [
            [
                "b7f88eb88ca2c200"
            ]
        ]
    },
    {
        "id": "e8b55db461cb3fd9",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 440,
        "wires": []
    },
    {
        "id": "07c7b147c409a6f9",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 580,
        "wires": []
    },
    {
        "id": "6d562d5b3cce4689",
        "type": "mqtt in",
        "z": "9529f2fd9052e78b",
        "name": "",
        "topic": "/ble/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "16dd31f690be98d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "1ea2e2096ff3eb6f"
            ]
        ]
    },
    {
        "id": "1ea2e2096ff3eb6f",
        "type": "debug",
        "z": "9529f2fd9052e78b",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 140,
        "wires": []
    },
    {
        "id": "55f9360fa20f4de0",
        "type": "mqtt in",
        "z": "9529f2fd9052e78b",
        "name": "",
        "topic": "/ble/advertise/c8:c8:75:1d:d8:83/ffff",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "16dd31f690be98d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "617de9b54f2d2667",
                "a075e44ffe8dfa9f"
            ]
        ]
    },
    {
        "id": "a8c943cc60904e09",
        "type": "debug",
        "z": "9529f2fd9052e78b",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 560,
        "wires": []
    },
    {
        "id": "617de9b54f2d2667",
        "type": "rbe",
        "z": "9529f2fd9052e78b",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 250,
        "y": 480,
        "wires": [
            [
                "a8c943cc60904e09"
            ]
        ]
    },
    {
        "id": "a075e44ffe8dfa9f",
        "type": "debug",
        "z": "9529f2fd9052e78b",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "d27f5bc9b3277f8a",
        "type": "mqtt in",
        "z": "9529f2fd9052e78b",
        "name": "",
        "topic": "/ble/presence/c8:c8:75:1d:d8:83/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "16dd31f690be98d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "5f0bc388e5361f7a"
            ]
        ]
    },
    {
        "id": "5f0bc388e5361f7a",
        "type": "debug",
        "z": "9529f2fd9052e78b",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "6c950beeb69c4b8c",
        "type": "mqtt in",
        "z": "9529f2fd9052e78b",
        "name": "",
        "topic": "/ble/advertise/c8:c8:75:1d:d8:83/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "16dd31f690be98d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "51542e9481ef30d8"
            ]
        ]
    },
    {
        "id": "51542e9481ef30d8",
        "type": "debug",
        "z": "9529f2fd9052e78b",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "583f1996f87c187a",
        "type": "mqtt out",
        "z": "9529f2fd9052e78b",
        "name": "send to jolt",
        "topic": "/ble/write/c8:c8:75:1d:d8:83/nus/nus_tx",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d0c9e13c6e1254b",
        "x": 1090,
        "y": 640,
        "wires": []
    },
    {
        "id": "e2e89bcc5db7f5c5",
        "type": "inject",
        "z": "9529f2fd9052e78b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "LED1.set();",
        "payloadType": "str",
        "x": 700,
        "y": 600,
        "wires": [
            [
                "2668e2785ad98817"
            ]
        ]
    },
    {
        "id": "00c5b5eeb3230e78",
        "type": "inject",
        "z": "9529f2fd9052e78b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "LED1.reset();",
        "payloadType": "str",
        "x": 730,
        "y": 680,
        "wires": [
            [
                "2668e2785ad98817"
            ]
        ]
    },
    {
        "id": "2668e2785ad98817",
        "type": "function",
        "z": "9529f2fd9052e78b",
        "name": "function 2",
        "func": "msg.payload += \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 640,
        "wires": [
            [
                "583f1996f87c187a"
            ]
        ]
    },
    {
        "id": "4b0a61b5914709ec",
        "type": "inject",
        "z": "bb01535f48abe2ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "LED2.reset();",
        "payloadType": "str",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "cac007d4d384dc89"
            ]
        ]
    },
    {
        "id": "908ac2aac00dd830",
        "type": "inject",
        "z": "bb01535f48abe2ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "LED2.set();",
        "payloadType": "str",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "cac007d4d384dc89"
            ]
        ]
    },
    {
        "id": "cac007d4d384dc89",
        "type": "function",
        "z": "bb01535f48abe2ce",
        "name": "Add a newline",
        "func": "msg.payload += \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "8faaa0ac08c81b8f"
            ]
        ]
    },
    {
        "id": "8faaa0ac08c81b8f",
        "type": "mqtt out",
        "z": "bb01535f48abe2ce",
        "name": "mqtt to c8:c8:75:1d:d8:83",
        "topic": "/ble/write/c8:c8:75:1d:d8:83/nus/nus_tx",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16dd31f690be98d3",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "02d9ab698812bb8e",
        "type": "inject",
        "z": "bb01535f48abe2ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "setFreq(500);",
        "payloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "cac007d4d384dc89"
            ]
        ]
    }
]