.flows.json.backup
[
    {
        "id": "9529f2fd9052e78b",
        "type": "tab",
        "label": "IoT Playground: Message Switchboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "12178aa1b34f6c50",
        "type": "tab",
        "label": "The Pegboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "63e4ca87ec15e7b6",
        "type": "tab",
        "label": "MicroBit  Bridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "943e204f81529182",
        "type": "tab",
        "label": "BLE in with Pareto Anywhere",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d6a628240034869",
        "type": "tab",
        "label": "OSC Bridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb01535f48abe2ce",
        "type": "tab",
        "label": "BLE OUT Bridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d286a10585a73e58",
        "type": "tab",
        "label": "UI Generator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3efac045c708839",
        "type": "tab",
        "label": "Graveyard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5fedcf3335946691",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ecaa01218566e73",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "16dd31f690be98d3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9d0c9e13c6e1254b",
        "type": "mqtt-broker",
        "name": "rpi-not-local",
        "broker": "http://192.168.73.88/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "331b204cd9aa204f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.73.69",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1298aa3fd6cc5da5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4b11e57b9bdf9c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1b3ec53ab98a0a0b",
        "type": "ui_group",
        "name": "Sensor Data",
        "tab": "1298aa3fd6cc5da5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8be3fae20759ed0",
        "type": "ui_group",
        "name": "Motion Sensor E8DA",
        "tab": "1298aa3fd6cc5da5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b16a71166ef94228",
        "type": "ui_group",
        "name": "E9 Beacon 5C26",
        "tab": "1298aa3fd6cc5da5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5326dbd85c698560",
        "type": "ui_group",
        "name": "Badge F741",
        "tab": "1298aa3fd6cc5da5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e36bbf7bb7e6790e",
        "type": "ui_group",
        "name": "Radar1569",
        "tab": "1298aa3fd6cc5da5",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8acfcf9bb97cb20",
        "type": "ui_group",
        "name": "Untracked BLE Devices",
        "tab": "fb202f2b9c4ea98f",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb202f2b9c4ea98f",
        "type": "ui_tab",
        "name": "BLE Devices",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f85a84fa1aa251ff",
        "type": "ui_group",
        "name": "Tracked BLE Devices",
        "tab": "fb202f2b9c4ea98f",
        "order": 2,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "632ec53202999c1c",
        "type": "mqtt-broker",
        "name": "Home EspruinoHub",
        "broker": "10.0.0.30",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "402f29e7a94fd8c0",
        "type": "websocket-listener",
        "path": "/ws/announce",
        "wholemsg": "true"
    },
    {
        "id": "5347604aa986a9b3",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "This flow Runs on the IoT Sandbox",
        "info": "",
        "x": 140,
        "y": 20,
        "wires": []
    },
    {
        "id": "093e2453d12cd821",
        "type": "link out",
        "z": "9529f2fd9052e78b",
        "name": "/joltjsd883/javascript",
        "mode": "link",
        "links": [
            "cb332d7f29f9638f"
        ],
        "x": 1455,
        "y": 580,
        "wires": []
    },
    {
        "id": "f05765e5ad2a800a",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/joltjsd883/javascript",
        "info": "",
        "x": 1570,
        "y": 580,
        "wires": []
    },
    {
        "id": "a991b79e982ec38f",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/joltjsd883/buttonPressCount",
        "links": [
            "627021b995a2a0ef",
            "e56477c26cb0cacc"
        ],
        "x": 375,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "15157771cd44e6fd",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/joltjsd883/buttonPressCount",
        "info": "",
        "x": 220,
        "y": 500,
        "wires": []
    },
    {
        "id": "d3f56a97527fb425",
        "type": "template",
        "z": "9529f2fd9052e78b",
        "name": "LED2.set();",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "LED2.set();",
        "output": "str",
        "x": 750,
        "y": 620,
        "wires": [
            [
                "093e2453d12cd821"
            ]
        ]
    },
    {
        "id": "74b8931c4f169699",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "THE OUTPUTS",
        "info": "",
        "x": 1460,
        "y": 460,
        "wires": []
    },
    {
        "id": "daa87bb343e14c6c",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "This is the message playground, let's play!",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "5cedde4270e55d73",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Use Debug nodes to see what kind of data come out of the LinkOuts (the INPUTS)",
        "info": "",
        "x": 290,
        "y": 240,
        "wires": []
    },
    {
        "id": "26d04fb560039b57",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Then (optionally)modify those messages and pass them along to the named LinkIn nodes (the OUTPUTS)",
        "info": "",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "4bce475a36d6fe42",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "THE INPUTS",
        "info": "",
        "x": 70,
        "y": 420,
        "wires": []
    },
    {
        "id": "77aa25dc3e466eef",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "PLAY HAPPENS HERE",
        "info": "",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "7f48796d223aff6d",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "link in 1",
        "links": [
            "39d6698f6076b1cf"
        ],
        "x": 375,
        "y": 620,
        "wires": [
            [
                "fb481705f37072a6"
            ]
        ]
    },
    {
        "id": "4d8dca2999c440b2",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/isMotionDetected [true/false]",
        "info": "",
        "x": 180,
        "y": 620,
        "wires": []
    },
    {
        "id": "7efd13165909c947",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/temperature [float]",
        "info": "",
        "x": 210,
        "y": 680,
        "wires": []
    },
    {
        "id": "7ef475ffc039806f",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/temperature",
        "links": [
            "3f8a8d4cc887a6a0"
        ],
        "x": 375,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "db43857d6fddb21f",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/illuminance [int]",
        "info": "",
        "x": 220,
        "y": 740,
        "wires": []
    },
    {
        "id": "15f03384138c7a9b",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/illuminance",
        "links": [
            "0fb34d273a62d5fd"
        ],
        "x": 375,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "0f1793047f7fd9ad",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/acceleration [x,y,x]",
        "info": "",
        "x": 210,
        "y": 800,
        "wires": []
    },
    {
        "id": "b435851896189b4c",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/acceleration",
        "links": [
            "be8df522c0e4f250"
        ],
        "x": 375,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "68fd9537b6ef4f90",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/batteryPercentage [int]",
        "info": "",
        "x": 200,
        "y": 860,
        "wires": []
    },
    {
        "id": "0e67c49a5c1dbc69",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/batteryPercentage",
        "links": [
            "214448f98c24559e"
        ],
        "x": 375,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "5ff2431630703949",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/realtiveHumidity [float]",
        "info": "",
        "x": 200,
        "y": 920,
        "wires": []
    },
    {
        "id": "61fe7ef84007a447",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/relativeHumidity",
        "links": [
            "0be064a2c659c9a6"
        ],
        "x": 375,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "0fc60dcce126bb56",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/acceleration [x,y,x]",
        "info": "",
        "x": 200,
        "y": 1020,
        "wires": []
    },
    {
        "id": "bcc55d3b75af50b4",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/acceleration",
        "links": [
            "0ad22c5f1dca0ec8"
        ],
        "x": 375,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "63f1f9f78ff03929",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/batteryPercentage [int]",
        "info": "",
        "x": 190,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a7d84af63bc1a4a3",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/batteryPercentage",
        "links": [],
        "x": 375,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "656c29854a0f9c68",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/isMotionDetected",
        "links": [
            "12f3f5b83580a23d",
            "298b7604e45e2609"
        ],
        "x": 375,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "90c5dade84a5b513",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/isMotionDetected [true/false]",
        "info": "",
        "x": 170,
        "y": 1140,
        "wires": []
    },
    {
        "id": "afb3a856d21e5af7",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Minew E9 Waterproof Beacon https://www.minew.com/product/e9-waterproof-beacon/",
        "info": "",
        "x": 300,
        "y": 980,
        "wires": []
    },
    {
        "id": "825a8a29af6c8760",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "The Espruino JoltJS https://www.espruino.com/Jolt.js",
        "info": "",
        "x": 200,
        "y": 460,
        "wires": []
    },
    {
        "id": "510c3dbc15186c67",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "MINEW MSP01 Human Body Sensor https://www.minew.com/product/msp01-bluetooth-pir-sensor/",
        "info": "",
        "x": 340,
        "y": 580,
        "wires": []
    },
    {
        "id": "9abc8790454ec959",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Also, you can add your own flow and copy any input and output nodes from below into it, and they will work!",
        "info": "",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "a0deccccec3a0425",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Find the devices in the rooms, using the ID number written on it that matches the first part of the input/output names below",
        "info": "",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "d7e205c98b27cfa9",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "eg the device named \"motionE8DA\" has all the inputs and outputs that start with /motionE8DA",
        "info": "",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "a0cf0de0e9d8c435",
        "type": "template",
        "z": "9529f2fd9052e78b",
        "name": "LED2.reset();",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "LED2.reset();",
        "output": "str",
        "x": 750,
        "y": 660,
        "wires": [
            [
                "093e2453d12cd821"
            ]
        ]
    },
    {
        "id": "fb481705f37072a6",
        "type": "switch",
        "z": "9529f2fd9052e78b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "d3f56a97527fb425"
            ],
            [
                "a0cf0de0e9d8c435"
            ]
        ]
    },
    {
        "id": "e8a7791c68492700",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Minew MWC01 Badge Bluetooth Repeater https://www.minewstore.com/product/mwc01-badge-bluetooth-repeater",
        "info": "",
        "x": 390,
        "y": 1220,
        "wires": []
    },
    {
        "id": "0cb5f37d10ef0ba2",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/badgeF741/acceleration [x,y,x]",
        "info": "",
        "x": 210,
        "y": 1280,
        "wires": []
    },
    {
        "id": "190c1992f1cbf565",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/acceleration",
        "links": [
            "de8fbc462923dbc9"
        ],
        "x": 375,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "82e34702549f3bae",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/badgeF741/batteryPercentage [int]",
        "info": "",
        "x": 200,
        "y": 1340,
        "wires": []
    },
    {
        "id": "3b7587803e77b349",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/batteryPercentage",
        "links": [
            "4231c54266544aaa"
        ],
        "x": 375,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "f3913b32de691a60",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/badgeF741/temperature [float]",
        "info": "",
        "x": 210,
        "y": 1400,
        "wires": []
    },
    {
        "id": "46f318315efbac05",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/temperature",
        "links": [
            "d7237dea509bc5d8"
        ],
        "x": 375,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "20c0e4ef4a2620dc",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/badgeF741/tripleClick [anything]",
        "info": "",
        "x": 210,
        "y": 1460,
        "wires": []
    },
    {
        "id": "188b2020e129bf2c",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/tripleClick",
        "links": [
            "19d4534cec60808e"
        ],
        "x": 375,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "1b433d53057546c4",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/badgeF741/doubleClick [anything]",
        "info": "",
        "x": 200,
        "y": 1520,
        "wires": []
    },
    {
        "id": "8dd1e7825daec697",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/doubleClick",
        "links": [
            "1993e168718b6344"
        ],
        "x": 375,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "6f7d2c98610cd139",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "MSR01 Millimeter Wave Radar Sensor https://www.minew.com/product/msr01-millimeter-wave-radar-sensor/",
        "info": "",
        "x": 370,
        "y": 1600,
        "wires": []
    },
    {
        "id": "3fcc306c56f11bc8",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/radar1569/numberOfOccupants [int]",
        "info": "",
        "x": 190,
        "y": 1660,
        "wires": []
    },
    {
        "id": "58da5b866b432383",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/radar1569/numberOfOccupants",
        "links": [
            "6e29a67b8309b49b",
            "ab7c932c0809d8f2"
        ],
        "x": 375,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "439df683befd6a81",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/radar1569/batteryPercentage [int]",
        "info": "",
        "x": 200,
        "y": 1720,
        "wires": []
    },
    {
        "id": "0ba2dd4dcb604546",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/batteryPercentage",
        "links": [
            "4fbb33ab4f5e3d5c"
        ],
        "x": 375,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "74fde88e8b557db0",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "MicroBits Button Device named \"b\"",
        "info": "",
        "x": 140,
        "y": 1840,
        "wires": []
    },
    {
        "id": "17f0db515a671710",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/microbit/devB/buttonA",
        "links": [
            "b03c01d92337c309"
        ],
        "x": 375,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "2e05219f7227c890",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Button A",
        "info": "",
        "x": 280,
        "y": 1880,
        "wires": []
    },
    {
        "id": "32d8c97058927115",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Button B",
        "info": "",
        "x": 280,
        "y": 1940,
        "wires": []
    },
    {
        "id": "90a54b05c828e06a",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/microbit/devB/buttonB",
        "links": [
            "97829c983b8d5c9c"
        ],
        "x": 375,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "b5eaf5c3e3b2e7d4",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "MicroBits Motor Device Driver A",
        "info": "",
        "x": 1570,
        "y": 680,
        "wires": []
    },
    {
        "id": "84df9701ff1f453c",
        "type": "link out",
        "z": "9529f2fd9052e78b",
        "name": "Send Motor to position 0",
        "mode": "link",
        "links": [
            "8ce3c15689f8ed88"
        ],
        "x": 1465,
        "y": 740,
        "wires": []
    },
    {
        "id": "6b32856a7224eec7",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Send Motor to position 0",
        "info": "",
        "x": 1610,
        "y": 740,
        "wires": []
    },
    {
        "id": "d5e587b6dc254acf",
        "type": "link out",
        "z": "9529f2fd9052e78b",
        "name": "Send Motor to position 0",
        "mode": "link",
        "links": [
            "01a91a77a4f59c2b"
        ],
        "x": 1465,
        "y": 800,
        "wires": []
    },
    {
        "id": "60647e6798fe842a",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Send Servo to position at number in payload",
        "info": "",
        "x": 1670,
        "y": 800,
        "wires": []
    },
    {
        "id": "07259254e93104b8",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "or make a new tab and copy inputs/outputs you need to there.",
        "info": "",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "af7e47cbd0bb8f03",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "JoltJS",
        "info": "",
        "x": 1490,
        "y": 520,
        "wires": []
    },
    {
        "id": "cfa68042108ca70c",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "MicroBits Device B Button Sender and Display",
        "info": "",
        "x": 1580,
        "y": 880,
        "wires": []
    },
    {
        "id": "32a1bcface551512",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "soundLevel",
        "info": "",
        "x": 270,
        "y": 2020,
        "wires": []
    },
    {
        "id": "56f2f467ade51184",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "link in 6",
        "links": [
            "2e687e2ce756dcb8"
        ],
        "x": 375,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "431e5bebf6b9c0ac",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Microbits Cevice C 10 light strip",
        "info": "",
        "x": 1510,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8349fe7b37b2d055",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Rainbow Light display on Device c (1-360)",
        "info": "",
        "x": 1680,
        "y": 1080,
        "wires": []
    },
    {
        "id": "db981f93b151a7ef",
        "type": "link out",
        "z": "9529f2fd9052e78b",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "782a2d5a7c7ede40"
        ],
        "x": 1465,
        "y": 1080,
        "wires": []
    },
    {
        "id": "9d95e3c44a39e948",
        "type": "link out",
        "z": "9529f2fd9052e78b",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "2a866971bf59b17b"
        ],
        "x": 1475,
        "y": 940,
        "wires": []
    },
    {
        "id": "d53293897732bddc",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Device B Show String",
        "info": "",
        "x": 1620,
        "y": 940,
        "wires": []
    },
    {
        "id": "76042f096f9c1e95",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "MicroBits Button Device named \"b\"",
        "info": "",
        "x": 160,
        "y": 180,
        "wires": []
    },
    {
        "id": "7a5a2b5f83d3aac8",
        "type": "link in",
        "z": "12178aa1b34f6c50",
        "name": "/microbit/devB/buttonA",
        "links": [
            "b03c01d92337c309"
        ],
        "x": 335,
        "y": 220,
        "wires": [
            [
                "b054f131ee47e020"
            ]
        ]
    },
    {
        "id": "02786740195b0e96",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "Button A",
        "info": "",
        "x": 240,
        "y": 220,
        "wires": []
    },
    {
        "id": "9ede080aa0f20c4d",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "Button B",
        "info": "",
        "x": 240,
        "y": 280,
        "wires": []
    },
    {
        "id": "b9e26d1818337fa4",
        "type": "link in",
        "z": "12178aa1b34f6c50",
        "name": "/microbit/devB/buttonB",
        "links": [
            "97829c983b8d5c9c"
        ],
        "x": 335,
        "y": 280,
        "wires": [
            [
                "cc8d0a87e0b0a8d6"
            ]
        ]
    },
    {
        "id": "fa59b94a362c9051",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "MicroBits Motor Device Driver A",
        "info": "",
        "x": 1350,
        "y": 180,
        "wires": []
    },
    {
        "id": "b054f131ee47e020",
        "type": "link out",
        "z": "12178aa1b34f6c50",
        "name": "Send Motor to position 0",
        "mode": "link",
        "links": [
            "8ce3c15689f8ed88"
        ],
        "x": 1245,
        "y": 220,
        "wires": []
    },
    {
        "id": "dce5dab21df08691",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "Send Motor to position 0",
        "info": "",
        "x": 1390,
        "y": 220,
        "wires": []
    },
    {
        "id": "a2912fc6efadc6c8",
        "type": "link out",
        "z": "12178aa1b34f6c50",
        "name": "Send Motor to position 0",
        "mode": "link",
        "links": [
            "01a91a77a4f59c2b"
        ],
        "x": 1245,
        "y": 280,
        "wires": []
    },
    {
        "id": "5101b5f18804dd60",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "Send Servo to position at number in payload",
        "info": "",
        "x": 1450,
        "y": 280,
        "wires": []
    },
    {
        "id": "cc8d0a87e0b0a8d6",
        "type": "change",
        "z": "12178aa1b34f6c50",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 280,
        "wires": [
            [
                "a2912fc6efadc6c8"
            ]
        ]
    },
    {
        "id": "81c59b720a7269a0",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "set number to 100",
        "info": "",
        "x": 850,
        "y": 320,
        "wires": []
    },
    {
        "id": "586d5edb7bd93697",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "All devices on the pegboard.",
        "info": "",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "5c0d07879ae408cb",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "/radar1569/numberOfOccupants [int]",
        "info": "",
        "x": 190,
        "y": 540,
        "wires": []
    },
    {
        "id": "acf84947596b0ba9",
        "type": "link in",
        "z": "12178aa1b34f6c50",
        "name": "/radar1569/numberOfOccupants",
        "links": [
            "6e29a67b8309b49b"
        ],
        "x": 375,
        "y": 540,
        "wires": [
            [
                "69caa44abe4e4486",
                "836c963a2acc33a0",
                "f0098fb51d536ffe"
            ]
        ]
    },
    {
        "id": "69caa44abe4e4486",
        "type": "debug",
        "z": "12178aa1b34f6c50",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 500,
        "y": 580,
        "wires": []
    },
    {
        "id": "836c963a2acc33a0",
        "type": "function",
        "z": "12178aa1b34f6c50",
        "name": "number of people x 10",
        "func": "msg.payload = msg.payload * 10;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 540,
        "wires": [
            [
                "a2912fc6efadc6c8"
            ]
        ]
    },
    {
        "id": "f0098fb51d536ffe",
        "type": "link out",
        "z": "12178aa1b34f6c50",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "2a866971bf59b17b"
        ],
        "x": 1215,
        "y": 620,
        "wires": []
    },
    {
        "id": "cffd1376f2071785",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "microbit b, set string",
        "info": "",
        "x": 1330,
        "y": 620,
        "wires": []
    },
    {
        "id": "3748190d8472fe33",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "soundLevel",
        "info": "",
        "x": 230,
        "y": 340,
        "wires": []
    },
    {
        "id": "ca56d3e8aab9210f",
        "type": "link in",
        "z": "12178aa1b34f6c50",
        "name": "link in 7",
        "links": [
            "2e687e2ce756dcb8"
        ],
        "x": 335,
        "y": 340,
        "wires": [
            [
                "dd8e8df5d0c569f3",
                "08e5d8b8eb75a17f"
            ]
        ]
    },
    {
        "id": "dd8e8df5d0c569f3",
        "type": "debug",
        "z": "12178aa1b34f6c50",
        "name": "debug 51",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "a10adcef4be269ad",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "Rainbow Light display on Device c (1-360)",
        "info": "",
        "x": 1400,
        "y": 460,
        "wires": []
    },
    {
        "id": "d42777e1bd2011b3",
        "type": "link out",
        "z": "12178aa1b34f6c50",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "782a2d5a7c7ede40"
        ],
        "x": 1205,
        "y": 460,
        "wires": []
    },
    {
        "id": "08e5d8b8eb75a17f",
        "type": "range",
        "z": "12178aa1b34f6c50",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "360",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 820,
        "y": 420,
        "wires": [
            [
                "5eec6a6c81aa28f9",
                "d42777e1bd2011b3"
            ]
        ]
    },
    {
        "id": "5eec6a6c81aa28f9",
        "type": "debug",
        "z": "12178aa1b34f6c50",
        "name": "debug 52",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 940,
        "y": 460,
        "wires": []
    },
    {
        "id": "c50d42f151626957",
        "type": "comment",
        "z": "12178aa1b34f6c50",
        "name": "microbits neopixel 10light string",
        "info": "",
        "x": 1330,
        "y": 420,
        "wires": []
    },
    {
        "id": "87cef86360be7223",
        "type": "serial in",
        "z": "63e4ca87ec15e7b6",
        "name": "serialp",
        "serial": "4ecaa01218566e73",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "832e51e1892d2dee",
                "1aacdb2450ade9be"
            ]
        ]
    },
    {
        "id": "832e51e1892d2dee",
        "type": "function",
        "z": "63e4ca87ec15e7b6",
        "name": "split messsage",
        "func": "var split = msg.payload.split(\":\");\nreturn {\n    topic: split[0],\n    payload:split[1]\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 200,
        "wires": [
            [
                "8fad38546cb1f16e"
            ]
        ]
    },
    {
        "id": "02190d58f95b35a6",
        "type": "serial out",
        "z": "63e4ca87ec15e7b6",
        "name": "toMicroBit",
        "serial": "4ecaa01218566e73",
        "x": 1110,
        "y": 360,
        "wires": []
    },
    {
        "id": "a3b3ff78fa377765",
        "type": "function",
        "z": "63e4ca87ec15e7b6",
        "name": "combine messsage",
        "func": "\nlet topic = msg.topic.replace(/^\\//,\"\");\nreturn {\n    payload:topic+\":\"+msg.payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 360,
        "wires": [
            [
                "02190d58f95b35a6",
                "2d67bc15e598f4f8"
            ]
        ]
    },
    {
        "id": "533c9463e67d2fee",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "This flow Runs on the IoT Sandbox",
        "info": "This Flow translates Microbits Radio messages to/from OSC ",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "230cb2ed91a44c36",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Get MicroBit messages over serial from a dedicated Microbits device attached to this computer",
        "info": "",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "3016901ca21ed23b",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Send named messages over Serial to a dedicated Microbits device attached to this computer, using shortened names",
        "info": "",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "5ac4fb824a5f6e19",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Route the messages with the Message Switchboard!",
        "info": "",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "c899758bf59368aa",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "TODO: make named linkOut and LinkIn nodes, based on actual microbit IDs, to use in the Message Switchboard",
        "info": "",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "7f833fcf6c834f1e",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "This assumes you have a Micro:Bits attached to the node-red machine with a USB cable.",
        "info": "",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "1aacdb2450ade9be",
        "type": "debug",
        "z": "63e4ca87ec15e7b6",
        "name": "debug 46",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 240,
        "y": 260,
        "wires": []
    },
    {
        "id": "978f6656300f444c",
        "type": "switch",
        "z": "63e4ca87ec15e7b6",
        "name": "bA",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bA",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 150,
        "y": 600,
        "wires": [
            [
                "b03c01d92337c309"
            ]
        ]
    },
    {
        "id": "8fad38546cb1f16e",
        "type": "link out",
        "z": "63e4ca87ec15e7b6",
        "name": "MBIn",
        "mode": "link",
        "links": [
            "365e9c3bca661005",
            "51f30252596f0e24",
            "aefc332bfcba42af"
        ],
        "x": 385,
        "y": 200,
        "wires": []
    },
    {
        "id": "365e9c3bca661005",
        "type": "link in",
        "z": "63e4ca87ec15e7b6",
        "name": "link in 3",
        "links": [
            "8fad38546cb1f16e"
        ],
        "x": 55,
        "y": 600,
        "wires": [
            [
                "978f6656300f444c"
            ]
        ]
    },
    {
        "id": "b03c01d92337c309",
        "type": "link out",
        "z": "63e4ca87ec15e7b6",
        "name": "/microbit/devB/buttonA",
        "mode": "link",
        "links": [
            "17f0db515a671710",
            "7a5a2b5f83d3aac8"
        ],
        "x": 705,
        "y": 600,
        "wires": []
    },
    {
        "id": "ba812f4f63301731",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "/microbit/devB/buttonA",
        "info": "",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "56d721487ea02c9d",
        "type": "switch",
        "z": "63e4ca87ec15e7b6",
        "name": "bB",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bB",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 150,
        "y": 660,
        "wires": [
            [
                "97829c983b8d5c9c"
            ]
        ]
    },
    {
        "id": "51f30252596f0e24",
        "type": "link in",
        "z": "63e4ca87ec15e7b6",
        "name": "link in 4",
        "links": [
            "8fad38546cb1f16e"
        ],
        "x": 55,
        "y": 660,
        "wires": [
            [
                "56d721487ea02c9d"
            ]
        ]
    },
    {
        "id": "97829c983b8d5c9c",
        "type": "link out",
        "z": "63e4ca87ec15e7b6",
        "name": "/microbit/devB/buttonB",
        "mode": "link",
        "links": [
            "90a54b05c828e06a",
            "b9e26d1818337fa4"
        ],
        "x": 705,
        "y": 660,
        "wires": []
    },
    {
        "id": "d4d9d20659d9fcc0",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "/microbit/devB/buttonB",
        "info": "",
        "x": 820,
        "y": 660,
        "wires": []
    },
    {
        "id": "d5f9228ff1e1315b",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Incoming MicroBits messages",
        "info": "",
        "x": 160,
        "y": 560,
        "wires": []
    },
    {
        "id": "9dee78efcc3c53e0",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "outgoing MicroBits messages",
        "info": "",
        "x": 160,
        "y": 820,
        "wires": []
    },
    {
        "id": "8ce3c15689f8ed88",
        "type": "link in",
        "z": "63e4ca87ec15e7b6",
        "name": "/microbit/devA/motorTo0",
        "links": [
            "84df9701ff1f453c",
            "b054f131ee47e020"
        ],
        "x": 255,
        "y": 880,
        "wires": [
            [
                "030eb58da2a2d3f9"
            ]
        ]
    },
    {
        "id": "0ab1b4bb5ec6e55d",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "/microbit/devA/motorTo0",
        "info": "",
        "x": 110,
        "y": 880,
        "wires": []
    },
    {
        "id": "030eb58da2a2d3f9",
        "type": "change",
        "z": "63e4ca87ec15e7b6",
        "name": "topic to aM and payload to 0",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aM",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 880,
        "wires": [
            [
                "347382f86489e62c",
                "72b14565ea3ed5b9"
            ]
        ]
    },
    {
        "id": "5965d310a479781d",
        "type": "link in",
        "z": "63e4ca87ec15e7b6",
        "name": "MBOut",
        "links": [
            "347382f86489e62c",
            "3c7bd074ceefd50e",
            "710a1e1165a15f3f",
            "cc2c46b0b079d8e5"
        ],
        "x": 485,
        "y": 360,
        "wires": [
            [
                "a3b3ff78fa377765"
            ]
        ]
    },
    {
        "id": "347382f86489e62c",
        "type": "link out",
        "z": "63e4ca87ec15e7b6",
        "name": "aM",
        "mode": "link",
        "links": [
            "5965d310a479781d"
        ],
        "x": 755,
        "y": 880,
        "wires": []
    },
    {
        "id": "7da939e9aad55c4f",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "aM:[servo value]",
        "info": "",
        "x": 860,
        "y": 880,
        "wires": []
    },
    {
        "id": "01a91a77a4f59c2b",
        "type": "link in",
        "z": "63e4ca87ec15e7b6",
        "name": "/microbit/devA/motorToN",
        "links": [
            "d5e587b6dc254acf",
            "a2912fc6efadc6c8"
        ],
        "x": 255,
        "y": 980,
        "wires": [
            [
                "854358c79bc9a242"
            ]
        ]
    },
    {
        "id": "05d910ea51953aa4",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "/microbit/devA/motorToN",
        "info": "",
        "x": 120,
        "y": 980,
        "wires": []
    },
    {
        "id": "854358c79bc9a242",
        "type": "change",
        "z": "63e4ca87ec15e7b6",
        "name": "set topic to aM",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aM",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 980,
        "wires": [
            [
                "3c7bd074ceefd50e",
                "beb49f33a2324973"
            ]
        ]
    },
    {
        "id": "3c7bd074ceefd50e",
        "type": "link out",
        "z": "63e4ca87ec15e7b6",
        "name": "aM",
        "mode": "link",
        "links": [
            "5965d310a479781d"
        ],
        "x": 765,
        "y": 980,
        "wires": []
    },
    {
        "id": "7f138da40490fa25",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "aM:[servo value]",
        "info": "",
        "x": 870,
        "y": 980,
        "wires": []
    },
    {
        "id": "5faa676988f1a151",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "set servo to number value in payload",
        "info": "",
        "x": 150,
        "y": 940,
        "wires": []
    },
    {
        "id": "72b14565ea3ed5b9",
        "type": "debug",
        "z": "63e4ca87ec15e7b6",
        "name": "debug 47",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 820,
        "wires": []
    },
    {
        "id": "beb49f33a2324973",
        "type": "debug",
        "z": "63e4ca87ec15e7b6",
        "name": "debug 48",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1020,
        "wires": []
    },
    {
        "id": "39c2f7c0c3dfcef9",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "display Text on Device b",
        "info": "",
        "x": 130,
        "y": 1100,
        "wires": []
    },
    {
        "id": "2a866971bf59b17b",
        "type": "link in",
        "z": "63e4ca87ec15e7b6",
        "name": "/microbit/devB/string",
        "links": [
            "f0098fb51d536ffe",
            "9d95e3c44a39e948"
        ],
        "x": 225,
        "y": 1160,
        "wires": [
            [
                "19dcc4822ba96d81"
            ]
        ]
    },
    {
        "id": "19dcc4822ba96d81",
        "type": "change",
        "z": "63e4ca87ec15e7b6",
        "name": "set topic to bS",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "bS",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1160,
        "wires": [
            [
                "710a1e1165a15f3f"
            ]
        ]
    },
    {
        "id": "710a1e1165a15f3f",
        "type": "link out",
        "z": "63e4ca87ec15e7b6",
        "name": "aM",
        "mode": "link",
        "links": [
            "5965d310a479781d"
        ],
        "x": 775,
        "y": 1160,
        "wires": []
    },
    {
        "id": "de5c240945023e48",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "bS:[string text]",
        "info": "",
        "x": 880,
        "y": 1160,
        "wires": []
    },
    {
        "id": "cc270a8d1a7a7847",
        "type": "switch",
        "z": "63e4ca87ec15e7b6",
        "name": "bL",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bL",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 150,
        "y": 720,
        "wires": [
            [
                "2e687e2ce756dcb8"
            ]
        ]
    },
    {
        "id": "aefc332bfcba42af",
        "type": "link in",
        "z": "63e4ca87ec15e7b6",
        "name": "link in 5",
        "links": [
            "8fad38546cb1f16e"
        ],
        "x": 55,
        "y": 720,
        "wires": [
            [
                "cc270a8d1a7a7847"
            ]
        ]
    },
    {
        "id": "2e687e2ce756dcb8",
        "type": "link out",
        "z": "63e4ca87ec15e7b6",
        "name": "/microbit/devB/soundLevel",
        "mode": "link",
        "links": [
            "56f2f467ade51184",
            "ca56d3e8aab9210f"
        ],
        "x": 705,
        "y": 720,
        "wires": []
    },
    {
        "id": "7f2616408368c947",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "/microbit/devB/soundLevel",
        "info": "",
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "1350ca2cce0505a1",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Rainbow Light display on Device c (1-360)",
        "info": "",
        "x": 200,
        "y": 1280,
        "wires": []
    },
    {
        "id": "782a2d5a7c7ede40",
        "type": "link in",
        "z": "63e4ca87ec15e7b6",
        "name": "/microbit/devC/rainbow",
        "links": [
            "db981f93b151a7ef",
            "d42777e1bd2011b3"
        ],
        "x": 205,
        "y": 1340,
        "wires": [
            [
                "6dcdc8f9f41b75be"
            ]
        ]
    },
    {
        "id": "6dcdc8f9f41b75be",
        "type": "change",
        "z": "63e4ca87ec15e7b6",
        "name": "set topic to cR",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cR",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1340,
        "wires": [
            [
                "3d028fe74136545b",
                "8fad014da5310e20"
            ]
        ]
    },
    {
        "id": "cc2c46b0b079d8e5",
        "type": "link out",
        "z": "63e4ca87ec15e7b6",
        "name": "aM",
        "mode": "link",
        "links": [
            "5965d310a479781d"
        ],
        "x": 775,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9dab1bbf317bdb0e",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "cR:[int 1-360]",
        "info": "",
        "x": 870,
        "y": 1340,
        "wires": []
    },
    {
        "id": "3d028fe74136545b",
        "type": "debug",
        "z": "63e4ca87ec15e7b6",
        "name": "debug 53",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 560,
        "y": 1400,
        "wires": []
    },
    {
        "id": "2d67bc15e598f4f8",
        "type": "debug",
        "z": "63e4ca87ec15e7b6",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1120,
        "y": 460,
        "wires": []
    },
    {
        "id": "8fad014da5310e20",
        "type": "delay",
        "z": "63e4ca87ec15e7b6",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "4",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 1300,
        "wires": [
            [
                "cc2c46b0b079d8e5"
            ]
        ]
    },
    {
        "id": "c4d470ef752fbe8f",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001/devices/c8c8751dd883/3",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "",
        "x": 170,
        "y": 540,
        "wires": [
            [],
            [
                "39714e8ba6c34ecb",
                "80c61fac6e3bda78"
            ],
            []
        ]
    },
    {
        "id": "57c7f54bd83b1b4a",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "This flow Runs on IoT Sandbox, with ParetoAnywhere Installed",
        "info": "This machine needs to have ParetoAnywhere installed.",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "41759bd8c50d792e",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "When creating new BLE messages, use dynamb property names from here: https://reelyactive.github.io/diy/cheatsheet/#dynamb",
        "info": "",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "0d246c6d36f59726",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/joltd883/buttonPressCount",
        "func": "let newmsg = {topic: \"/joltd883/buttonPressCount\",\n            payload: msg.payload.txCount};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 540,
        "wires": [
            [
                "627021b995a2a0ef"
            ]
        ]
    },
    {
        "id": "4cfe56bd16725cf3",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Each device property gets their own section here",
        "info": "# each device property gets their own section here",
        "x": 200,
        "y": 300,
        "wires": []
    },
    {
        "id": "5d85724301b80d54",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "assign a device ID here",
        "info": "",
        "x": 140,
        "y": 500,
        "wires": []
    },
    {
        "id": "b663a9463fb05cf2",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 500,
        "wires": []
    },
    {
        "id": "25e7c3bfc958a671",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 500,
        "wires": []
    },
    {
        "id": "627021b995a2a0ef",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/joltjsd883/buttonPressCount",
        "mode": "link",
        "links": [
            "a991b79e982ec38f",
            "26017cc35f3e96bf",
            "b8e0d1ef098a80f6"
        ],
        "x": 1255,
        "y": 540,
        "wires": []
    },
    {
        "id": "6c4de670e0e62f9b",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/joltjsd883/buttonPressCount",
        "info": "",
        "x": 1400,
        "y": 540,
        "wires": []
    },
    {
        "id": "8c84e08698db7ccb",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/devices/c8c8751dd883/3",
        "info": "",
        "x": 150,
        "y": 600,
        "wires": []
    },
    {
        "id": "23f72742cac028f4",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "187f3783b671189d",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 580,
        "wires": []
    },
    {
        "id": "39714e8ba6c34ecb",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it txCount?",
        "func": "if(msg.payload.txCount){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 540,
        "wires": [
            [
                "0d246c6d36f59726"
            ]
        ]
    },
    {
        "id": "60f62919685ff439",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "The code below is for identifying and routing BLE device messages with friendlier names",
        "info": "",
        "x": 330,
        "y": 260,
        "wires": []
    },
    {
        "id": "06097ef97334cbbe",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001/devices/c300000ae8da/3",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "",
        "x": 150,
        "y": 820,
        "wires": [
            [],
            [
                "5d9fe62628055011",
                "c0ccf5de0c27300a",
                "baf140ce5e927807",
                "361ad2d00306f22a",
                "0272f77e16f24d35",
                "1690eba349907604",
                "5f837816a4724060"
            ],
            []
        ]
    },
    {
        "id": "0cb3b39d5ed1b219",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/motionE8DA/isMotionDetected",
        "func": "let newmsg = {topic: \"/motionE8DA/isMotionDetected\",\n            payload: msg.payload.isMotionDetected[0]};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 820,
        "wires": [
            [
                "913cf85b77bf72c6"
            ]
        ]
    },
    {
        "id": "d3fb2139cfd695cc",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "assign a device ID here",
        "info": "",
        "x": 140,
        "y": 780,
        "wires": []
    },
    {
        "id": "7477598c7eb88892",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 900,
        "y": 780,
        "wires": []
    },
    {
        "id": "d79f46f664f0f657",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 780,
        "wires": []
    },
    {
        "id": "39d6698f6076b1cf",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/isMotionDetected",
        "mode": "link",
        "links": [
            "7f48796d223aff6d",
            "8fabfcd6e00bb298",
            "da9387dc2680a057"
        ],
        "x": 1255,
        "y": 820,
        "wires": []
    },
    {
        "id": "7a4475816fc8f6c1",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/motionE8DA/isMotionDetected",
        "info": "",
        "x": 1410,
        "y": 820,
        "wires": []
    },
    {
        "id": "c233950c6c0eb923",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/devices/c300000ae8da/3",
        "info": "",
        "x": 150,
        "y": 880,
        "wires": []
    },
    {
        "id": "8c5769b6f3dcaecc",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 780,
        "wires": []
    },
    {
        "id": "302f92d39e0a17a6",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 860,
        "wires": []
    },
    {
        "id": "5d9fe62628055011",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it isMotionDetected",
        "func": "if(msg.payload.isMotionDetected){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 820,
        "wires": [
            [
                "0cb3b39d5ed1b219"
            ]
        ]
    },
    {
        "id": "99753da02303ad09",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/motionE8DA/temperature",
        "func": "let newmsg = {topic: \"/motionE8DA/temperature\",\n            payload: msg.payload.temperature};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 960,
        "wires": [
            [
                "a2a4bb6ae1db4a73"
            ]
        ]
    },
    {
        "id": "07feed533d41b0dd",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 920,
        "wires": []
    },
    {
        "id": "b63be1f3284a6ae7",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 920,
        "wires": []
    },
    {
        "id": "3f8a8d4cc887a6a0",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/temperature",
        "mode": "link",
        "links": [
            "7ef475ffc039806f",
            "30c63c537e502a94",
            "622bf26b87eb3ed9",
            "c534c42889ea8a46"
        ],
        "x": 1255,
        "y": 960,
        "wires": []
    },
    {
        "id": "2a9b8189ee3ecb0f",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/motionE8DA/temperature",
        "info": "",
        "x": 1390,
        "y": 960,
        "wires": []
    },
    {
        "id": "a878803f8dae4ca5",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 920,
        "wires": []
    },
    {
        "id": "f872284304ad5865",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c0ccf5de0c27300a",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it temperature?",
        "func": "if(msg.payload.temperature){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 960,
        "wires": [
            [
                "99753da02303ad09"
            ]
        ]
    },
    {
        "id": "c2d1f94ce0a9c2da",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/motionE8DA/illuminance",
        "func": "let newmsg = {topic: \"/motionE8DA/illuminance\",\n            payload: msg.payload.illuminance};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1100,
        "wires": [
            [
                "7e6670f45f062dc4"
            ]
        ]
    },
    {
        "id": "355639d6dd165a82",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 1060,
        "wires": []
    },
    {
        "id": "098e8b167d245e1f",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 1060,
        "wires": []
    },
    {
        "id": "0fb34d273a62d5fd",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/illuminance",
        "mode": "link",
        "links": [
            "15f03384138c7a9b",
            "c1d1dfc74b17a671"
        ],
        "x": 1255,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c4c7a87b7496d9bd",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/motionE8DA/illuminance",
        "info": "",
        "x": 1390,
        "y": 1100,
        "wires": []
    },
    {
        "id": "579612895fe99982",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 1060,
        "wires": []
    },
    {
        "id": "83f20baa7bfd27f4",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 1140,
        "wires": []
    },
    {
        "id": "baf140ce5e927807",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it illuminance?",
        "func": "if(msg.payload.illuminance){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1100,
        "wires": [
            [
                "c2d1f94ce0a9c2da"
            ]
        ]
    },
    {
        "id": "460e120d3b20700c",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/motionE8DA/acceleration",
        "func": "let newmsg = {topic: \"/motionE8DA/acceleration\",\n            payload: msg.payload.acceleration};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1240,
        "wires": [
            [
                "8e419f4d7285ec5f"
            ]
        ]
    },
    {
        "id": "60e55d32a29ec3ac",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 1200,
        "wires": []
    },
    {
        "id": "566a31d14065ed84",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 1200,
        "wires": []
    },
    {
        "id": "be8df522c0e4f250",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/acceleration",
        "mode": "link",
        "links": [
            "b435851896189b4c",
            "34179481a9d37d57"
        ],
        "x": 1255,
        "y": 1240,
        "wires": []
    },
    {
        "id": "0aeb582b77afe93e",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/motionE8DA/acceleration",
        "info": "",
        "x": 1390,
        "y": 1240,
        "wires": []
    },
    {
        "id": "cec06d64792b5849",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4b0560ac346d0eed",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 1280,
        "wires": []
    },
    {
        "id": "361ad2d00306f22a",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it acceleration?",
        "func": "if(msg.payload.acceleration){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1240,
        "wires": [
            [
                "460e120d3b20700c"
            ]
        ]
    },
    {
        "id": "5a4b5a79e428cbb3",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/motionE8DA/batteryPercentage",
        "func": "let newmsg = {topic: \"/motionE8DA/batteryPercentage\",\n            payload: msg.payload.batteryPercentage};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1380,
        "wires": [
            [
                "b42ab26e4f368895"
            ]
        ]
    },
    {
        "id": "442d84b7a74f0473",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 1340,
        "wires": []
    },
    {
        "id": "0dbb77a39488f9e2",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 1340,
        "wires": []
    },
    {
        "id": "214448f98c24559e",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/batteryPercentage",
        "mode": "link",
        "links": [
            "0e67c49a5c1dbc69",
            "92148f9250905b6b"
        ],
        "x": 1255,
        "y": 1380,
        "wires": []
    },
    {
        "id": "1a4d20849e78648b",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/motionE8DA/batteryPercentage",
        "info": "",
        "x": 1410,
        "y": 1380,
        "wires": []
    },
    {
        "id": "756912a5f3287de6",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 1340,
        "wires": []
    },
    {
        "id": "fa7908efdef3ecd2",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 1420,
        "wires": []
    },
    {
        "id": "0272f77e16f24d35",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it batteryPercentage?",
        "func": "if (msg.payload.batteryPercentage){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1380,
        "wires": [
            [
                "5a4b5a79e428cbb3"
            ]
        ]
    },
    {
        "id": "ca258975bff086ad",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/motionE8DA/relativeHumidity",
        "func": "let newmsg = {\n    topic: \"/motionE8DA/relativeHumidity\",\n    payload: msg.payload.relativeHumidity\n};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1520,
        "wires": [
            [
                "3e7f1a7e86edd907"
            ]
        ]
    },
    {
        "id": "e7ddb14183259592",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d2c7fdcdd04d3f20",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 1480,
        "wires": []
    },
    {
        "id": "0be064a2c659c9a6",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/relativeHumidity",
        "mode": "link",
        "links": [
            "61fe7ef84007a447",
            "10d09e9ebbae4a39"
        ],
        "x": 1255,
        "y": 1520,
        "wires": []
    },
    {
        "id": "63a114fae52c35ee",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/motionE8DA/relativeHumidity",
        "info": "",
        "x": 1400,
        "y": 1520,
        "wires": []
    },
    {
        "id": "b03bb3fd59e08dc5",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ecfb01f11626f7c1",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 1560,
        "wires": []
    },
    {
        "id": "1690eba349907604",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it relativeHumidity?",
        "func": "if (msg.payload.relativeHumidity){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1520,
        "wires": [
            [
                "ca258975bff086ad"
            ]
        ]
    },
    {
        "id": "f46828de7ac19c3a",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001/devices/ac233faf5c26/2",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "",
        "x": 140,
        "y": 1900,
        "wires": [
            [],
            [
                "54d557b47848e32a",
                "73889f2195070320",
                "79fd44a608cf9a6d",
                "42ad7f68dcca6362"
            ],
            []
        ]
    },
    {
        "id": "6e4e1e9551cce098",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/isMotionDetected",
        "func": "let newmsg = {\n    topic: \"/e9beacon5c26/isMotionDetected\",\n            payload: msg.payload.isMotionDetected[0]};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1900,
        "wires": [
            [
                "01da984135ffb4b5"
            ]
        ]
    },
    {
        "id": "02913cc01ed13f67",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "assign a device ID here",
        "info": "",
        "x": 160,
        "y": 1860,
        "wires": []
    },
    {
        "id": "696bc0280df92321",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 960,
        "y": 1860,
        "wires": []
    },
    {
        "id": "48977796972d4ab9",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1590,
        "y": 1860,
        "wires": []
    },
    {
        "id": "12f3f5b83580a23d",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/isMotionDetected",
        "mode": "link",
        "links": [
            "656c29854a0f9c68",
            "f3877161e3ba366e"
        ],
        "x": 1275,
        "y": 1900,
        "wires": []
    },
    {
        "id": "d8daf00ff3b65d44",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/isMotionDetected",
        "info": "",
        "x": 1440,
        "y": 1900,
        "wires": []
    },
    {
        "id": "d7684108e47f0c36",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/devices/ac233faf5c26/2",
        "info": "",
        "x": 170,
        "y": 1960,
        "wires": []
    },
    {
        "id": "ccd2409d9a11d2fb",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 540,
        "y": 1860,
        "wires": []
    },
    {
        "id": "9c5d5b201b9a5b09",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 480,
        "y": 1940,
        "wires": []
    },
    {
        "id": "54d557b47848e32a",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it isMotionDetected?",
        "func": "if(msg.payload.isMotionDetected){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1900,
        "wires": [
            [
                "6e4e1e9551cce098"
            ]
        ]
    },
    {
        "id": "fc10d2f338d12c67",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "The Espruino JoltJS https://www.espruino.com/Jolt.js",
        "info": "",
        "x": 240,
        "y": 340,
        "wires": []
    },
    {
        "id": "c53fee8ee9c05b2e",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "MINEW MSP01 Human Body Sensor https://www.minew.com/product/msp01-bluetooth-pir-sensor/",
        "info": "",
        "x": 380,
        "y": 720,
        "wires": []
    },
    {
        "id": "33b089c51188f003",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Minew E9 Waterproof Beacon https://www.minew.com/product/e9-waterproof-beacon/",
        "info": "",
        "x": 360,
        "y": 1780,
        "wires": []
    },
    {
        "id": "49e6e5b80ab0da1e",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/batteryPercentage",
        "func": "let newmsg = {\n    topic: \"/e9beacon5c26/batteryPercentage\",\n            payload: msg.payload.batteryPercentage};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1980,
        "wires": [
            [
                "7e5cc97aecd17920"
            ]
        ]
    },
    {
        "id": "002337ab102d4f3a",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/batteryPercentage",
        "mode": "link",
        "links": [
            "92148f9250905b6b",
            "b40fb4c40be74994"
        ],
        "x": 1275,
        "y": 1980,
        "wires": []
    },
    {
        "id": "e58e3477e15fc998",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/batteryPercentage",
        "info": "",
        "x": 1440,
        "y": 1980,
        "wires": []
    },
    {
        "id": "73889f2195070320",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it batteryPercentage?",
        "func": "if (msg.payload.batteryPercentage){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1980,
        "wires": [
            [
                "49e6e5b80ab0da1e"
            ]
        ]
    },
    {
        "id": "e53334db6f2d533b",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/acceleration",
        "func": "let newmsg = {\n    topic: \"/e9beacon5c26/acceleration\",\n            payload: msg.payload.acceleration};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 2040,
        "wires": [
            [
                "db8d2a1e80114204"
            ]
        ]
    },
    {
        "id": "0ad22c5f1dca0ec8",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/acceleration",
        "mode": "link",
        "links": [
            "bcc55d3b75af50b4",
            "68c2629504ca0b28"
        ],
        "x": 1275,
        "y": 2040,
        "wires": []
    },
    {
        "id": "986ad0efcdb07805",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/acceleration",
        "info": "",
        "x": 1420,
        "y": 2040,
        "wires": []
    },
    {
        "id": "79fd44a608cf9a6d",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it acceleration?",
        "func": "if(msg.payload.acceleration){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2040,
        "wires": [
            [
                "e53334db6f2d533b"
            ]
        ]
    },
    {
        "id": "913cf85b77bf72c6",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1120,
        "y": 820,
        "wires": [
            [
                "39d6698f6076b1cf"
            ]
        ]
    },
    {
        "id": "01da984135ffb4b5",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1160,
        "y": 1900,
        "wires": [
            [
                "12f3f5b83580a23d"
            ]
        ]
    },
    {
        "id": "7e5cc97aecd17920",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1160,
        "y": 1980,
        "wires": [
            [
                "002337ab102d4f3a"
            ]
        ]
    },
    {
        "id": "db8d2a1e80114204",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1160,
        "y": 2040,
        "wires": [
            [
                "0ad22c5f1dca0ec8"
            ]
        ]
    },
    {
        "id": "a2a4bb6ae1db4a73",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1120,
        "y": 960,
        "wires": [
            [
                "3f8a8d4cc887a6a0"
            ]
        ]
    },
    {
        "id": "7e6670f45f062dc4",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1120,
        "y": 1100,
        "wires": [
            [
                "0fb34d273a62d5fd"
            ]
        ]
    },
    {
        "id": "8e419f4d7285ec5f",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1120,
        "y": 1240,
        "wires": [
            [
                "be8df522c0e4f250"
            ]
        ]
    },
    {
        "id": "b42ab26e4f368895",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1120,
        "y": 1380,
        "wires": [
            [
                "214448f98c24559e"
            ]
        ]
    },
    {
        "id": "3e7f1a7e86edd907",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1120,
        "y": 1520,
        "wires": [
            [
                "0be064a2c659c9a6"
            ]
        ]
    },
    {
        "id": "2c5feba6290da36e",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/devices/c3000011f741/3",
        "info": "",
        "x": 170,
        "y": 2280,
        "wires": []
    },
    {
        "id": "6a0452d57d23771d",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001/devices/c3000011f741/3",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "",
        "x": 150,
        "y": 2220,
        "wires": [
            [],
            [
                "c1b0a8ec0a07d96a",
                "7a808c6536e4a5cb",
                "547de9f301233c87",
                "fb20186e8c681554",
                "697f0f1377d7c56a",
                "29a3760223a31313"
            ],
            []
        ]
    },
    {
        "id": "6ab5eea496329aeb",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "assign a device ID here",
        "info": "",
        "x": 160,
        "y": 2180,
        "wires": []
    },
    {
        "id": "5c187d161fa794b3",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 960,
        "y": 2180,
        "wires": []
    },
    {
        "id": "eefec2609de2c17a",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 540,
        "y": 2180,
        "wires": []
    },
    {
        "id": "2f799188156d0734",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1590,
        "y": 2180,
        "wires": []
    },
    {
        "id": "fc6c85fa4a2b23b2",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Minew MWC01 Badge Bluetooth Repeater https://www.minewstore.com/product/mwc01-badge-bluetooth-repeater",
        "info": "",
        "x": 450,
        "y": 2120,
        "wires": []
    },
    {
        "id": "4a13bbd18b63c058",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/badgeF741/acceleration",
        "func": "let newmsg = {\n    topic: \"/badgeF741/acceleration\",\n            payload: msg.payload.acceleration};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2240,
        "wires": [
            [
                "0c7473607021312f"
            ]
        ]
    },
    {
        "id": "de8fbc462923dbc9",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/badgeF741/acceleration",
        "mode": "link",
        "links": [
            "68c2629504ca0b28",
            "190c1992f1cbf565",
            "b00b5206398fc5d3"
        ],
        "x": 1275,
        "y": 2240,
        "wires": []
    },
    {
        "id": "707586b60177d2ed",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/badgeF741/acceleration",
        "info": "",
        "x": 1410,
        "y": 2240,
        "wires": []
    },
    {
        "id": "c1b0a8ec0a07d96a",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it acceleration?",
        "func": "if(msg.payload.acceleration){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2240,
        "wires": [
            [
                "4a13bbd18b63c058"
            ]
        ]
    },
    {
        "id": "0c7473607021312f",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1160,
        "y": 2240,
        "wires": [
            [
                "de8fbc462923dbc9"
            ]
        ]
    },
    {
        "id": "347577beb2fc67a1",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/badgeF741/temperature",
        "func": "let newmsg = {topic: \"/badgeF741/temperature\",\n            payload: msg.payload.temperature};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2320,
        "wires": [
            [
                "319c3cd1e677a8b2"
            ]
        ]
    },
    {
        "id": "d7237dea509bc5d8",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/badgeF741/temperature",
        "mode": "link",
        "links": [
            "622bf26b87eb3ed9",
            "46f318315efbac05",
            "c534c42889ea8a46"
        ],
        "x": 1275,
        "y": 2320,
        "wires": []
    },
    {
        "id": "aec3d3f255076076",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/badgeF741/temperature",
        "info": "",
        "x": 1410,
        "y": 2320,
        "wires": []
    },
    {
        "id": "7a808c6536e4a5cb",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it temperature?",
        "func": "if(msg.payload.temperature){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2320,
        "wires": [
            [
                "347577beb2fc67a1"
            ]
        ]
    },
    {
        "id": "319c3cd1e677a8b2",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1160,
        "y": 2320,
        "wires": [
            [
                "d7237dea509bc5d8"
            ]
        ]
    },
    {
        "id": "c9362e70e15b8138",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/badgeF741/batteryPercentage",
        "func": "let newmsg = {\n    topic: \"/badgeF741/batteryPercentage\",\n            payload: msg.payload.batteryPercentage};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 2400,
        "wires": [
            [
                "c983cf628524568c"
            ]
        ]
    },
    {
        "id": "4231c54266544aaa",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/badgeF741/batteryPercentage",
        "mode": "link",
        "links": [
            "92148f9250905b6b",
            "3b7587803e77b349",
            "89cd1b5d44963cb4"
        ],
        "x": 1275,
        "y": 2400,
        "wires": []
    },
    {
        "id": "32cd59c967b1f186",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/badgeF741/batteryPercentage",
        "info": "",
        "x": 1430,
        "y": 2400,
        "wires": []
    },
    {
        "id": "547de9f301233c87",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it batteryPercentage?",
        "func": "if (msg.payload.batteryPercentage){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2400,
        "wires": [
            [
                "c9362e70e15b8138"
            ]
        ]
    },
    {
        "id": "c983cf628524568c",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1160,
        "y": 2400,
        "wires": [
            [
                "4231c54266544aaa"
            ]
        ]
    },
    {
        "id": "fd8072474a0cb7cd",
        "type": "red-advlib-ble",
        "z": "943e204f81529182",
        "name": "",
        "ignoreProtocolOverheadCheckbox": false,
        "x": 1900,
        "y": 240,
        "wires": [
            [
                "cf2259b44c6db0e5"
            ]
        ]
    },
    {
        "id": "c2894d8c81135ed7",
        "type": "split",
        "z": "943e204f81529182",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "data",
        "property": "payload.packets",
        "x": 1490,
        "y": 240,
        "wires": [
            [
                "c2ad694c85e570b3",
                "0970b33e6d276c43"
            ]
        ]
    },
    {
        "id": "c2ad694c85e570b3",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 41",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 280,
        "wires": []
    },
    {
        "id": "cf2259b44c6db0e5",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 42",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2060,
        "y": 240,
        "wires": []
    },
    {
        "id": "d9d4dd74cbc4f92b",
        "type": "change",
        "z": "943e204f81529182",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload.packets",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 240,
        "wires": [
            [
                "fd8072474a0cb7cd"
            ]
        ]
    },
    {
        "id": "624521af088f10af",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/badgeF741/doubleClick",
        "func": "let newmsg = {\n    topic: \"/badgeF741/doubleClick\",\n    payload: \"doubleClick\"};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2460,
        "wires": [
            [
                "4c46173b8950f47e"
            ]
        ]
    },
    {
        "id": "1993e168718b6344",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/badgeF741/doubleClick",
        "mode": "link",
        "links": [
            "89cd1b5d44963cb4",
            "92148f9250905b6b",
            "8dd1e7825daec697"
        ],
        "x": 1275,
        "y": 2460,
        "wires": []
    },
    {
        "id": "ef5ec8f5cebd0685",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/badgeF741/doubleClick",
        "info": "",
        "x": 1410,
        "y": 2460,
        "wires": []
    },
    {
        "id": "fb20186e8c681554",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is double click on badge button?",
        "func": "if (msg.payload.unicodeCodePoints && msg.payload.unicodeCodePoints == \"129301\"){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 2460,
        "wires": [
            [
                "624521af088f10af"
            ]
        ]
    },
    {
        "id": "4c46173b8950f47e",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1160,
        "y": 2460,
        "wires": [
            [
                "1993e168718b6344"
            ]
        ]
    },
    {
        "id": "8596fdbdbb825cdf",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/badgeF741/tripleClick",
        "func": "let newmsg = {\n    topic: \"/badgeF741/tripleClick\",\n    payload: \"tripleClick\"};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 2520,
        "wires": [
            [
                "eeb4ef28bdd58ed6"
            ]
        ]
    },
    {
        "id": "19d4534cec60808e",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/badgeF741/tripleClick",
        "mode": "link",
        "links": [
            "89cd1b5d44963cb4",
            "92148f9250905b6b",
            "188b2020e129bf2c"
        ],
        "x": 1275,
        "y": 2520,
        "wires": []
    },
    {
        "id": "e5e5d05723c3c4a6",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/badgeF741/tripleClick",
        "info": "",
        "x": 1400,
        "y": 2520,
        "wires": []
    },
    {
        "id": "697f0f1377d7c56a",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is triple click on badge button?",
        "func": "if (msg.payload.unicodeCodePoints && msg.payload.unicodeCodePoints == \"128076\"){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2520,
        "wires": [
            [
                "8596fdbdbb825cdf"
            ]
        ]
    },
    {
        "id": "eeb4ef28bdd58ed6",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1160,
        "y": 2520,
        "wires": [
            [
                "19d4534cec60808e"
            ]
        ]
    },
    {
        "id": "3e4804814a47f650",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "a little bit that'suseful for debugging",
        "info": "",
        "x": 1380,
        "y": 200,
        "wires": []
    },
    {
        "id": "c603f295d4d12744",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "",
        "x": 1330,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8cb5b186d5396c5a",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Connect Pareto to Split to get it going....",
        "info": "",
        "x": 1400,
        "y": 280,
        "wires": []
    },
    {
        "id": "d146a7173562aeb7",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "This flow uses the ParetoAnywhere software to access Bluetooth Low-energy device information",
        "info": "",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "90f2368be6a4ce23",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "You can access the Pareto Anywhere Apps here to see more device information: http://192.168.73.88:3001/",
        "info": "http://192.168.73.88:3001/",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "7a4a181a2f319351",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001/devices/c30000131569/3",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "",
        "x": 170,
        "y": 2720,
        "wires": [
            [],
            [
                "9dde0599580188ee",
                "f4805199ed3084a3",
                "2964098162b31f7a",
                "57466a9df57870f8"
            ],
            []
        ]
    },
    {
        "id": "4aae7cccebc658a3",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "assign a device ID here",
        "info": "",
        "x": 180,
        "y": 2680,
        "wires": []
    },
    {
        "id": "444b50237ad86372",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 980,
        "y": 2680,
        "wires": []
    },
    {
        "id": "ea2628f74f96419d",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 560,
        "y": 2680,
        "wires": []
    },
    {
        "id": "d72468c684c8cdca",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1610,
        "y": 2680,
        "wires": []
    },
    {
        "id": "d50349ae13d0531c",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "PuckJS",
        "info": "",
        "x": 110,
        "y": 3040,
        "wires": []
    },
    {
        "id": "53906adf11ee8470",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/radar1569/numberOfOccupants",
        "func": "let newmsg = {\n    topic: \"/radar1569/numberOfOccupants\",\n            payload: msg.payload.numberOfOccupants};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 2740,
        "wires": [
            [
                "f620f5dd9f1bd834"
            ]
        ]
    },
    {
        "id": "6e29a67b8309b49b",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/radar1569/numberOfOccupants",
        "mode": "link",
        "links": [
            "68c2629504ca0b28",
            "b00b5206398fc5d3",
            "58da5b866b432383",
            "cfce5eec5e17f20b",
            "acf84947596b0ba9"
        ],
        "x": 1295,
        "y": 2740,
        "wires": []
    },
    {
        "id": "8c5903e22cfc9677",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/radar1569/numberOfOccupants",
        "info": "",
        "x": 1450,
        "y": 2740,
        "wires": []
    },
    {
        "id": "9dde0599580188ee",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it numberOfOccupants?",
        "func": "if(msg.payload.numberOfOccupants){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 2740,
        "wires": [
            [
                "53906adf11ee8470",
                "7910ede16b99c58e"
            ]
        ]
    },
    {
        "id": "f620f5dd9f1bd834",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1180,
        "y": 2740,
        "wires": [
            [
                "6e29a67b8309b49b"
            ]
        ]
    },
    {
        "id": "f4805199ed3084a3",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 43",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 2920,
        "wires": []
    },
    {
        "id": "2002bdd8e5d85919",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/radar1569/batteryPercentage",
        "func": "let newmsg = {\n    topic: \"/radar1569/batteryPercentage\",\n            payload: msg.payload.batteryPercentage};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2800,
        "wires": [
            [
                "b518074259a3f96b"
            ]
        ]
    },
    {
        "id": "4fbb33ab4f5e3d5c",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/radar1569/batteryPercentage",
        "mode": "link",
        "links": [
            "89cd1b5d44963cb4",
            "92148f9250905b6b",
            "0ba2dd4dcb604546",
            "1b47c84cab13a9d8"
        ],
        "x": 1295,
        "y": 2800,
        "wires": []
    },
    {
        "id": "bf2601ca277dfcf0",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/radar1569/batteryPercentage",
        "info": "",
        "x": 1440,
        "y": 2800,
        "wires": []
    },
    {
        "id": "2964098162b31f7a",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it batteryPercentage?",
        "func": "if (msg.payload.batteryPercentage){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2800,
        "wires": [
            [
                "2002bdd8e5d85919"
            ]
        ]
    },
    {
        "id": "b518074259a3f96b",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1180,
        "y": 2800,
        "wires": [
            [
                "4fbb33ab4f5e3d5c"
            ]
        ]
    },
    {
        "id": "7910ede16b99c58e",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 44",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 2920,
        "wires": []
    },
    {
        "id": "04f831fe0aab37c7",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "",
        "x": 1330,
        "y": 100,
        "wires": [
            [],
            [
                "f885eac3693ca6f6",
                "a77a28489a869ede"
            ],
            []
        ]
    },
    {
        "id": "7f94a81d044b45c7",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Capturing all devices and saving their info, for the dashboard",
        "info": "",
        "x": 1460,
        "y": 60,
        "wires": []
    },
    {
        "id": "f885eac3693ca6f6",
        "type": "function",
        "z": "943e204f81529182",
        "name": "save to allBLE",
        "func": "function isObject(item) {\n  return (item && typeof item === 'object' && !Array.isArray(item));\n}\n\nfunction mergeDeep(target, ...sources) {\n  if (!sources.length) return target;\n  const source = sources.shift();\n\n  if (isObject(target) && isObject(source)) {\n    for (const key in source) {\n      if (isObject(source[key])) {\n        if (!target[key]) Object.assign(target, { [key]: {} });\n        mergeDeep(target[key], source[key]);\n      } else {\n        Object.assign(target, { [key]: source[key] });\n      }\n    }\n  }\n\n  return mergeDeep(target, ...sources);\n}\n\nlet allBLE = global.get(\"allBLE\");\nif(!allBLE){\n    allBLE = {};\n}\n\nif(allBLE[msg.payload.deviceId]){\n    // merge w existing.\n    mergeDeep(allBLE[msg.payload.deviceId], msg.payload);\n}else{\n    allBLE[msg.payload.deviceId] = msg.payload;\n}\nglobal.set(\"allBLE\", allBLE);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a77a28489a869ede",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 45",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 140,
        "wires": []
    },
    {
        "id": "80c61fac6e3bda78",
        "type": "function",
        "z": "943e204f81529182",
        "name": "save to capturedBLE",
        "func": "function isObject(item) {\n  return (item && typeof item === 'object' && !Array.isArray(item));\n}\n\nfunction mergeDeep(target, ...sources) {\n  if (!sources.length) return target;\n  const source = sources.shift();\n\n  if (isObject(target) && isObject(source)) {\n    for (const key in source) {\n      if (isObject(source[key])) {\n        if (!target[key]) Object.assign(target, { [key]: {} });\n        mergeDeep(target[key], source[key]);\n      } else {\n        Object.assign(target, { [key]: source[key] });\n      }\n    }\n  }\n\n  return mergeDeep(target, ...sources);\n}\n\nlet allBLE = global.get(\"capturedBLE\");\nif(!allBLE){\n    allBLE = {};\n}\n\nallBLE[msg.payload.deviceId] = mergeDeep(allBLE[msg.payload.deviceId], msg.payload);\n\nglobal.set(\"capturedBLE\", allBLE);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "5f837816a4724060",
        "type": "function",
        "z": "943e204f81529182",
        "name": "save to capturedBLE",
        "func": "function isObject(item) {\n  return (item && typeof item === 'object' && !Array.isArray(item));\n}\n\nfunction mergeDeep(target, ...sources) {\n  if (!sources.length) return target;\n  const source = sources.shift();\n\n  if (isObject(target) && isObject(source)) {\n    for (const key in source) {\n      if (isObject(source[key])) {\n        if (!target[key]) Object.assign(target, { [key]: {} });\n        mergeDeep(target[key], source[key]);\n      } else {\n        Object.assign(target, { [key]: source[key] });\n      }\n    }\n  }\n\n  return mergeDeep(target, ...sources);\n}\n\nlet allBLE = global.get(\"capturedBLE\");\nif(!allBLE){\n    allBLE = {};\n}\n\nallBLE[msg.payload.deviceId] = mergeDeep(allBLE[msg.payload.deviceId], msg.payload);\n\nglobal.set(\"capturedBLE\", allBLE);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "42ad7f68dcca6362",
        "type": "function",
        "z": "943e204f81529182",
        "name": "save to capturedBLE",
        "func": "function isObject(item) {\n  return (item && typeof item === 'object' && !Array.isArray(item));\n}\n\nfunction mergeDeep(target, ...sources) {\n  if (!sources.length) return target;\n  const source = sources.shift();\n\n  if (isObject(target) && isObject(source)) {\n    for (const key in source) {\n      if (isObject(source[key])) {\n        if (!target[key]) Object.assign(target, { [key]: {} });\n        mergeDeep(target[key], source[key]);\n      } else {\n        Object.assign(target, { [key]: source[key] });\n      }\n    }\n  }\n\n  return mergeDeep(target, ...sources);\n}\n\nlet allBLE = global.get(\"capturedBLE\");\nif(!allBLE){\n    allBLE = {};\n}\n\nallBLE[msg.payload.deviceId] = mergeDeep(allBLE[msg.payload.deviceId], msg.payload);\n\nglobal.set(\"capturedBLE\", allBLE);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "29a3760223a31313",
        "type": "function",
        "z": "943e204f81529182",
        "name": "save to capturedBLE",
        "func": "function isObject(item) {\n  return (item && typeof item === 'object' && !Array.isArray(item));\n}\n\nfunction mergeDeep(target, ...sources) {\n  if (!sources.length) return target;\n  const source = sources.shift();\n\n  if (isObject(target) && isObject(source)) {\n    for (const key in source) {\n      if (isObject(source[key])) {\n        if (!target[key]) Object.assign(target, { [key]: {} });\n        mergeDeep(target[key], source[key]);\n      } else {\n        Object.assign(target, { [key]: source[key] });\n      }\n    }\n  }\n\n  return mergeDeep(target, ...sources);\n}\n\nlet allBLE = global.get(\"capturedBLE\");\nif(!allBLE){\n    allBLE = {};\n}\n\nallBLE[msg.payload.deviceId] = mergeDeep(allBLE[msg.payload.deviceId], msg.payload);\n\nglobal.set(\"capturedBLE\", allBLE);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "57466a9df57870f8",
        "type": "function",
        "z": "943e204f81529182",
        "name": "save to capturedBLE",
        "func": "function isObject(item) {\n  return (item && typeof item === 'object' && !Array.isArray(item));\n}\n\nfunction mergeDeep(target, ...sources) {\n  if (!sources.length) return target;\n  const source = sources.shift();\n\n  if (isObject(target) && isObject(source)) {\n    for (const key in source) {\n      if (isObject(source[key])) {\n        if (!target[key]) Object.assign(target, { [key]: {} });\n        mergeDeep(target[key], source[key]);\n      } else {\n        Object.assign(target, { [key]: source[key] });\n      }\n    }\n  }\n\n  return mergeDeep(target, ...sources);\n}\n\nlet allBLE = global.get(\"capturedBLE\");\nif(!allBLE){\n    allBLE = {};\n}\n\nallBLE[msg.payload.deviceId] = mergeDeep(allBLE[msg.payload.deviceId], msg.payload);\n\nglobal.set(\"capturedBLE\", allBLE);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "6ab46f02b3adcfd3",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/devices/c30000131569/3",
        "info": "",
        "x": 170,
        "y": 2760,
        "wires": []
    },
    {
        "id": "97c9c3f6510f2590",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "attach the \"save to capturedBLE\" node to the second Pareto output, so we can identify UNTRACKED devices.",
        "info": "",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "58c83c34488e0d02",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "You can also use the \"BLE Devices\" page in the Node-red Dashboard to see what BLE devices ParetoAnywhere sees",
        "info": "",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
<<<<<<< HEAD