flows.json
[
    {
        "id": "9529f2fd9052e78b",
        "type": "tab",
        "label": "IoT Playground: Message Switchboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "63e4ca87ec15e7b6",
        "type": "tab",
        "label": "MicroBit  Bridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "943e204f81529182",
        "type": "tab",
        "label": "BLE in with Pareto Anywhere",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d6a628240034869",
        "type": "tab",
        "label": "OSC Bridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb01535f48abe2ce",
        "type": "tab",
        "label": "BLE OUT Bridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3efac045c708839",
        "type": "tab",
        "label": "Graveyard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d286a10585a73e58",
        "type": "tab",
        "label": "UI Generator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ecaa01218566e73",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "16dd31f690be98d3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9d0c9e13c6e1254b",
        "type": "mqtt-broker",
        "name": "rpi-not-local",
        "broker": "http://192.168.73.88/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "331b204cd9aa204f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.73.69",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1298aa3fd6cc5da5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4b11e57b9bdf9c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1b3ec53ab98a0a0b",
        "type": "ui_group",
        "name": "Sensor Data",
        "tab": "1298aa3fd6cc5da5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5347604aa986a9b3",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "This flow Runs on the IoT Sandbox",
        "info": "",
        "x": 140,
        "y": 20,
        "wires": []
    },
    {
        "id": "093e2453d12cd821",
        "type": "link out",
        "z": "9529f2fd9052e78b",
        "name": "/joltjsd883/javascript",
        "mode": "link",
        "links": [
            "cb332d7f29f9638f"
        ],
        "x": 1235,
        "y": 500,
        "wires": []
    },
    {
        "id": "f05765e5ad2a800a",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/joltjsd883/javascript",
        "info": "",
        "x": 1350,
        "y": 500,
        "wires": []
    },
    {
        "id": "a991b79e982ec38f",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/joltjsd883/buttonPressCount",
        "links": [
            "627021b995a2a0ef",
            "e56477c26cb0cacc"
        ],
        "x": 375,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "15157771cd44e6fd",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/joltjsd883/buttonPressCount",
        "info": "",
        "x": 220,
        "y": 500,
        "wires": []
    },
    {
        "id": "d3f56a97527fb425",
        "type": "template",
        "z": "9529f2fd9052e78b",
        "name": "LED2.set();",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "LED2.set();",
        "output": "str",
        "x": 750,
        "y": 620,
        "wires": [
            [
                "093e2453d12cd821",
                "1d4e7943c44c8ea6"
            ]
        ]
    },
    {
        "id": "74b8931c4f169699",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "THE OUTPUTS",
        "info": "",
        "x": 1300,
        "y": 420,
        "wires": []
    },
    {
        "id": "daa87bb343e14c6c",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "This is the message playground, let's play!",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "5cedde4270e55d73",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Use Debug nodes to see what kind of data come out of the LinkOuts (the INPUTS)",
        "info": "",
        "x": 290,
        "y": 240,
        "wires": []
    },
    {
        "id": "26d04fb560039b57",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Then (optionally)modify those messages and pass them along to the named LinkIn nodes (the OUTPUTS)",
        "info": "",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "4bce475a36d6fe42",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "THE INPUTS",
        "info": "",
        "x": 70,
        "y": 420,
        "wires": []
    },
    {
        "id": "77aa25dc3e466eef",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "PLAY HAPPENS HERE",
        "info": "",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "7f48796d223aff6d",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "link in 1",
        "links": [
            "39d6698f6076b1cf"
        ],
        "x": 375,
        "y": 620,
        "wires": [
            [
                "a17733e1cb081bd6",
                "fb481705f37072a6"
            ]
        ]
    },
    {
        "id": "4d8dca2999c440b2",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/isMotionDetected [true/false]",
        "info": "",
        "x": 180,
        "y": 620,
        "wires": []
    },
    {
        "id": "7efd13165909c947",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/temperature [float]",
        "info": "",
        "x": 210,
        "y": 680,
        "wires": []
    },
    {
        "id": "7ef475ffc039806f",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/temperature",
        "links": [
            "3f8a8d4cc887a6a0"
        ],
        "x": 375,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "db43857d6fddb21f",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/illuminance [int]",
        "info": "",
        "x": 220,
        "y": 740,
        "wires": []
    },
    {
        "id": "15f03384138c7a9b",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/illuminance",
        "links": [
            "0fb34d273a62d5fd"
        ],
        "x": 375,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "0f1793047f7fd9ad",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/acceleration [x,y,x]",
        "info": "",
        "x": 210,
        "y": 800,
        "wires": []
    },
    {
        "id": "b435851896189b4c",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/acceleration",
        "links": [
            "be8df522c0e4f250"
        ],
        "x": 375,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "68fd9537b6ef4f90",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/batteryPercentage [int]",
        "info": "",
        "x": 200,
        "y": 860,
        "wires": []
    },
    {
        "id": "0e67c49a5c1dbc69",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/batteryPercentage",
        "links": [
            "214448f98c24559e",
            "002337ab102d4f3a"
        ],
        "x": 375,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "5ff2431630703949",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/realtiveHumidity [float]",
        "info": "",
        "x": 200,
        "y": 920,
        "wires": []
    },
    {
        "id": "61fe7ef84007a447",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/motionE8DA/relativeHumidity",
        "links": [
            "0be064a2c659c9a6"
        ],
        "x": 375,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "0fc60dcce126bb56",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/acceleration [x,y,x]",
        "info": "",
        "x": 200,
        "y": 1020,
        "wires": []
    },
    {
        "id": "bcc55d3b75af50b4",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/acceleration",
        "links": [
            "0ad22c5f1dca0ec8"
        ],
        "x": 375,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "63f1f9f78ff03929",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/batteryPercentage [int]",
        "info": "",
        "x": 190,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a7d84af63bc1a4a3",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/batteryPercentage",
        "links": [],
        "x": 375,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "656c29854a0f9c68",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/isMotionDetected",
        "links": [
            "12f3f5b83580a23d"
        ],
        "x": 375,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "90c5dade84a5b513",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/e9beacon5c26/isMotionDetected [true/false]",
        "info": "",
        "x": 170,
        "y": 1140,
        "wires": []
    },
    {
        "id": "afb3a856d21e5af7",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Minew E9 Waterproof Beacon https://www.minew.com/product/e9-waterproof-beacon/",
        "info": "",
        "x": 300,
        "y": 980,
        "wires": []
    },
    {
        "id": "825a8a29af6c8760",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "The Espruino JoltJS https://www.espruino.com/Jolt.js",
        "info": "",
        "x": 200,
        "y": 460,
        "wires": []
    },
    {
        "id": "510c3dbc15186c67",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "MINEW MSP01 Human Body Sensor https://www.minew.com/product/msp01-bluetooth-pir-sensor/",
        "info": "",
        "x": 340,
        "y": 580,
        "wires": []
    },
    {
        "id": "9abc8790454ec959",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Also, you can add your own flow and copy any input and output nodes from below into it, and they will work!",
        "info": "",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "a0deccccec3a0425",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Find the devices in the rooms, using the ID number written on it that matches the first part of the input/output names below",
        "info": "",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "d7e205c98b27cfa9",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "eg the device named \"motionE8DA\" has all the inputs and outputs that start with /motionE8DA",
        "info": "",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "a17733e1cb081bd6",
        "type": "debug",
        "z": "9529f2fd9052e78b",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 740,
        "wires": []
    },
    {
        "id": "1d4e7943c44c8ea6",
        "type": "debug",
        "z": "9529f2fd9052e78b",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 580,
        "wires": []
    },
    {
        "id": "a0cf0de0e9d8c435",
        "type": "template",
        "z": "9529f2fd9052e78b",
        "name": "LED2.reset();",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "LED2.reset();",
        "output": "str",
        "x": 750,
        "y": 660,
        "wires": [
            [
                "093e2453d12cd821",
                "751db6ce17bd48b7"
            ]
        ]
    },
    {
        "id": "fb481705f37072a6",
        "type": "switch",
        "z": "9529f2fd9052e78b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "d3f56a97527fb425"
            ],
            [
                "a0cf0de0e9d8c435"
            ]
        ]
    },
    {
        "id": "751db6ce17bd48b7",
        "type": "debug",
        "z": "9529f2fd9052e78b",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 660,
        "wires": []
    },
    {
        "id": "9a3918a4b11b383d",
        "type": "inject",
        "z": "9529f2fd9052e78b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 580,
        "y": 520,
        "wires": [
            [
                "d3f56a97527fb425"
            ]
        ]
    },
    {
        "id": "e4fc8f2d4b4e4727",
        "type": "inject",
        "z": "9529f2fd9052e78b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 820,
        "wires": [
            [
                "a0cf0de0e9d8c435"
            ]
        ]
    },
    {
        "id": "87cef86360be7223",
        "type": "serial in",
        "z": "63e4ca87ec15e7b6",
        "name": "serialp",
        "serial": "4ecaa01218566e73",
        "x": 70,
        "y": 140,
        "wires": [
            [
                "832e51e1892d2dee"
            ]
        ]
    },
    {
        "id": "8273d38b742461d1",
        "type": "osc",
        "z": "63e4ca87ec15e7b6",
        "name": "oscout",
        "path": "",
        "metadata": true,
        "x": 410,
        "y": 140,
        "wires": [
            [
                "ce86589b352c2c71"
            ]
        ]
    },
    {
        "id": "832e51e1892d2dee",
        "type": "function",
        "z": "63e4ca87ec15e7b6",
        "name": "split messsage",
        "func": "var split = msg.payload.split(\":\");\nreturn {\n    topic: \"/\"+split[0],\n    payload:split[1]\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 140,
        "wires": [
            [
                "8273d38b742461d1"
            ]
        ]
    },
    {
        "id": "ce86589b352c2c71",
        "type": "udp out",
        "z": "63e4ca87ec15e7b6",
        "name": "bcast7777",
        "addr": "192.168.73.88",
        "iface": "",
        "port": "7777",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "broad",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "5ff5a5cb5150699d",
        "type": "osc",
        "z": "63e4ca87ec15e7b6",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "a3b3ff78fa377765"
            ]
        ]
    },
    {
        "id": "dd6a7c5fd2bc57a1",
        "type": "udp in",
        "z": "63e4ca87ec15e7b6",
        "name": "",
        "iface": "",
        "port": "7778",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 80,
        "y": 300,
        "wires": [
            [
                "5ff5a5cb5150699d"
            ]
        ]
    },
    {
        "id": "02190d58f95b35a6",
        "type": "serial out",
        "z": "63e4ca87ec15e7b6",
        "name": "toMicroBit",
        "serial": "4ecaa01218566e73",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "a3b3ff78fa377765",
        "type": "function",
        "z": "63e4ca87ec15e7b6",
        "name": "split messsage",
        "func": "\nlet topic = msg.topic.replace(/^\\//,\"\");\nreturn {\n    payload:topic+\":\"+msg.payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "02190d58f95b35a6"
            ]
        ]
    },
    {
        "id": "533c9463e67d2fee",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "This flow Runs on the IoT Sandbox",
        "info": "This Flow translates Microbits Radio messages to/from OSC ",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "230cb2ed91a44c36",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Get MicroBit messages over serial from a dedicated Microbits device attached to this computer",
        "info": "",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "3016901ca21ed23b",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Send UDP messages over Serial to a dedicated Microbits device attached to this computer",
        "info": "",
        "x": 330,
        "y": 260,
        "wires": []
    },
    {
        "id": "af14cac50388c72e",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Then send them over UDP to the OSC Switchboard with a common naming convention",
        "info": "",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "5ac4fb824a5f6e19",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Route the messages with the OSC Switchboard!",
        "info": "",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "c899758bf59368aa",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "TODO: make named linkOut and LinkIn nodes, based on actual microbit IDs, to use in the Message Switchboard",
        "info": "",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "c4d470ef752fbe8f",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001/devices/c8c8751dd883/3",
        "name": "Pareto JoltJS c8c8751dd883/3",
        "x": 170,
        "y": 440,
        "wires": [
            [],
            [
                "39714e8ba6c34ecb"
            ]
        ]
    },
    {
        "id": "57c7f54bd83b1b4a",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "This flow Runs on IoT Sandbox, with ParetoAnywhere Installed",
        "info": "This machine needs to have ParetoAnywhere installed.",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "41759bd8c50d792e",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "when creating new BLE messages, use dynamb property names from here: https://reelyactive.github.io/diy/cheatsheet/#dynamb",
        "info": "",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "0d246c6d36f59726",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/joltd883/buttonPressCount",
        "func": "let newmsg = {topic: \"/joltd883/buttonPressCount\",\n            payload: msg.payload.txCount};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 440,
        "wires": [
            [
                "627021b995a2a0ef"
            ]
        ]
    },
    {
        "id": "4cfe56bd16725cf3",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "each device property gets their own section here",
        "info": "# each device property gets their own section here",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "5d85724301b80d54",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "assign a device ID here",
        "info": "",
        "x": 140,
        "y": 400,
        "wires": []
    },
    {
        "id": "b663a9463fb05cf2",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 400,
        "wires": []
    },
    {
        "id": "25e7c3bfc958a671",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 400,
        "wires": []
    },
    {
        "id": "627021b995a2a0ef",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/joltjsd883/buttonPressCount",
        "mode": "link",
        "links": [
            "a991b79e982ec38f",
            "26017cc35f3e96bf",
            "b8e0d1ef098a80f6"
        ],
        "x": 1255,
        "y": 440,
        "wires": []
    },
    {
        "id": "6c4de670e0e62f9b",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/joltjsd883/buttonPressCount",
        "info": "",
        "x": 1400,
        "y": 440,
        "wires": []
    },
    {
        "id": "8c84e08698db7ccb",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/devices/c8c8751dd883/3",
        "info": "",
        "x": 150,
        "y": 500,
        "wires": []
    },
    {
        "id": "23f72742cac028f4",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "187f3783b671189d",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "39714e8ba6c34ecb",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it txCount?",
        "func": "if(msg.payload.txCount){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 440,
        "wires": [
            [
                "0d246c6d36f59726"
            ]
        ]
    },
    {
        "id": "60f62919685ff439",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Code below for identifying and routing BLE device messages",
        "info": "",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "06097ef97334cbbe",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001/devices/c300000ae8da/3",
        "name": "Pareto Motion Sensor c300000ae8da/3",
        "x": 150,
        "y": 700,
        "wires": [
            [],
            [
                "5d9fe62628055011",
                "c0ccf5de0c27300a",
                "baf140ce5e927807",
                "361ad2d00306f22a",
                "0272f77e16f24d35",
                "1690eba349907604"
            ]
        ]
    },
    {
        "id": "0cb3b39d5ed1b219",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/motionE8DA/isMotionDetected",
        "func": "let newmsg = {topic: \"/motionE8DA/isMotionDetected\",\n            payload: msg.payload.isMotionDetected[0]};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 700,
        "wires": [
            [
                "913cf85b77bf72c6"
            ]
        ]
    },
    {
        "id": "d3fb2139cfd695cc",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "assign a device ID here",
        "info": "",
        "x": 140,
        "y": 660,
        "wires": []
    },
    {
        "id": "7477598c7eb88892",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 900,
        "y": 660,
        "wires": []
    },
    {
        "id": "d79f46f664f0f657",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 660,
        "wires": []
    },
    {
        "id": "39d6698f6076b1cf",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/isMotionDetected",
        "mode": "link",
        "links": [
            "7f48796d223aff6d",
            "8fabfcd6e00bb298",
            "da9387dc2680a057"
        ],
        "x": 1255,
        "y": 700,
        "wires": []
    },
    {
        "id": "7a4475816fc8f6c1",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/motionE8DA/isMotionDetected",
        "info": "",
        "x": 1410,
        "y": 700,
        "wires": []
    },
    {
        "id": "c233950c6c0eb923",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/devices/c300000ae8da/3",
        "info": "",
        "x": 150,
        "y": 760,
        "wires": []
    },
    {
        "id": "8c5769b6f3dcaecc",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "302f92d39e0a17a6",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 740,
        "wires": []
    },
    {
        "id": "5d9fe62628055011",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it isMotionDetected",
        "func": "if(msg.payload.isMotionDetected){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 700,
        "wires": [
            [
                "0cb3b39d5ed1b219"
            ]
        ]
    },
    {
        "id": "99753da02303ad09",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/motionE8DA/temperature",
        "func": "let newmsg = {topic: \"/motionE8DA/temperature\",\n            payload: msg.payload.temperature};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 840,
        "wires": [
            [
                "a2a4bb6ae1db4a73"
            ]
        ]
    },
    {
        "id": "07feed533d41b0dd",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 800,
        "wires": []
    },
    {
        "id": "b63be1f3284a6ae7",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 800,
        "wires": []
    },
    {
        "id": "3f8a8d4cc887a6a0",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/temperature",
        "mode": "link",
        "links": [
            "7ef475ffc039806f",
            "30c63c537e502a94",
            "622bf26b87eb3ed9"
        ],
        "x": 1255,
        "y": 840,
        "wires": []
    },
    {
        "id": "2a9b8189ee3ecb0f",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/motionE8DA/temperature",
        "info": "",
        "x": 1390,
        "y": 840,
        "wires": []
    },
    {
        "id": "a878803f8dae4ca5",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 800,
        "wires": []
    },
    {
        "id": "f872284304ad5865",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 880,
        "wires": []
    },
    {
        "id": "c0ccf5de0c27300a",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it temperature?",
        "func": "if(msg.payload.temperature){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 840,
        "wires": [
            [
                "99753da02303ad09"
            ]
        ]
    },
    {
        "id": "c2d1f94ce0a9c2da",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/motionE8DA/illuminance",
        "func": "let newmsg = {topic: \"/motionE8DA/illuminance\",\n            payload: msg.payload.illuminance};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 980,
        "wires": [
            [
                "7e6670f45f062dc4"
            ]
        ]
    },
    {
        "id": "355639d6dd165a82",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 940,
        "wires": []
    },
    {
        "id": "098e8b167d245e1f",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 940,
        "wires": []
    },
    {
        "id": "0fb34d273a62d5fd",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/illuminance",
        "mode": "link",
        "links": [
            "15f03384138c7a9b",
            "c1d1dfc74b17a671"
        ],
        "x": 1255,
        "y": 980,
        "wires": []
    },
    {
        "id": "c4c7a87b7496d9bd",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/motionE8DA/illuminance",
        "info": "",
        "x": 1390,
        "y": 980,
        "wires": []
    },
    {
        "id": "579612895fe99982",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 940,
        "wires": []
    },
    {
        "id": "83f20baa7bfd27f4",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 1020,
        "wires": []
    },
    {
        "id": "baf140ce5e927807",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it illuminance?",
        "func": "if(msg.payload.illuminance){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 980,
        "wires": [
            [
                "c2d1f94ce0a9c2da"
            ]
        ]
    },
    {
        "id": "460e120d3b20700c",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/motionE8DA/acceleration",
        "func": "let newmsg = {topic: \"/motionE8DA/acceleration\",\n            payload: msg.payload.acceleration};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1120,
        "wires": [
            [
                "8e419f4d7285ec5f"
            ]
        ]
    },
    {
        "id": "60e55d32a29ec3ac",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 1080,
        "wires": []
    },
    {
        "id": "566a31d14065ed84",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 1080,
        "wires": []
    },
    {
        "id": "be8df522c0e4f250",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/acceleration",
        "mode": "link",
        "links": [
            "b435851896189b4c",
            "34179481a9d37d57"
        ],
        "x": 1255,
        "y": 1120,
        "wires": []
    },
    {
        "id": "0aeb582b77afe93e",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/motionE8DA/acceleration",
        "info": "",
        "x": 1390,
        "y": 1120,
        "wires": []
    },
    {
        "id": "cec06d64792b5849",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 1080,
        "wires": []
    },
    {
        "id": "4b0560ac346d0eed",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 1160,
        "wires": []
    },
    {
        "id": "361ad2d00306f22a",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it acceleration?",
        "func": "if(msg.payload.acceleration){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1120,
        "wires": [
            [
                "460e120d3b20700c"
            ]
        ]
    },
    {
        "id": "5a4b5a79e428cbb3",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/motionE8DA/batteryPercentage",
        "func": "let newmsg = {topic: \"/motionE8DA/batteryPercentage\",\n            payload: msg.payload.batteryPercentage};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1260,
        "wires": [
            [
                "b42ab26e4f368895"
            ]
        ]
    },
    {
        "id": "442d84b7a74f0473",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 1220,
        "wires": []
    },
    {
        "id": "0dbb77a39488f9e2",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 1220,
        "wires": []
    },
    {
        "id": "214448f98c24559e",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/batteryPercentage",
        "mode": "link",
        "links": [
            "0e67c49a5c1dbc69",
            "92148f9250905b6b"
        ],
        "x": 1255,
        "y": 1260,
        "wires": []
    },
    {
        "id": "1a4d20849e78648b",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/motionE8DA/batteryPercentage",
        "info": "",
        "x": 1410,
        "y": 1260,
        "wires": []
    },
    {
        "id": "756912a5f3287de6",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 1220,
        "wires": []
    },
    {
        "id": "fa7908efdef3ecd2",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 1300,
        "wires": []
    },
    {
        "id": "0272f77e16f24d35",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it batteryPercentage?",
        "func": "if (msg.payload.batteryPercentage){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1260,
        "wires": [
            [
                "5a4b5a79e428cbb3"
            ]
        ]
    },
    {
        "id": "ca258975bff086ad",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/motionE8DA/relativeHumidity",
        "func": "let newmsg = {\n    topic: \"/motionE8DA/relativeHumidity\",\n    payload: msg.payload.relativeHumidity\n};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1400,
        "wires": [
            [
                "3e7f1a7e86edd907"
            ]
        ]
    },
    {
        "id": "e7ddb14183259592",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 1360,
        "wires": []
    },
    {
        "id": "d2c7fdcdd04d3f20",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 1360,
        "wires": []
    },
    {
        "id": "0be064a2c659c9a6",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/relativeHumidity",
        "mode": "link",
        "links": [
            "61fe7ef84007a447",
            "10d09e9ebbae4a39"
        ],
        "x": 1255,
        "y": 1400,
        "wires": []
    },
    {
        "id": "63a114fae52c35ee",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/motionE8DA/relativeHumidity",
        "info": "",
        "x": 1400,
        "y": 1400,
        "wires": []
    },
    {
        "id": "b03bb3fd59e08dc5",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 520,
        "y": 1360,
        "wires": []
    },
    {
        "id": "ecfb01f11626f7c1",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 1440,
        "wires": []
    },
    {
        "id": "1690eba349907604",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it relativeHumidity?",
        "func": "if (msg.payload.relativeHumidity){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1400,
        "wires": [
            [
                "ca258975bff086ad"
            ]
        ]
    },
    {
        "id": "f46828de7ac19c3a",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001/devices/ac233faf5c26/2",
        "name": "Pareto E9 Beacon ac233faf5c26/2",
        "x": 160,
        "y": 1780,
        "wires": [
            [],
            [
                "54d557b47848e32a",
                "73889f2195070320",
                "79fd44a608cf9a6d"
            ]
        ]
    },
    {
        "id": "6e4e1e9551cce098",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/isMotionDetected",
        "func": "let newmsg = {\n    topic: \"/e9beacon5c26/isMotionDetected\",\n            payload: msg.payload.isMotionDetected[0]};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1780,
        "wires": [
            [
                "01da984135ffb4b5"
            ]
        ]
    },
    {
        "id": "02913cc01ed13f67",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "assign a device ID here",
        "info": "",
        "x": 160,
        "y": 1740,
        "wires": []
    },
    {
        "id": "696bc0280df92321",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 960,
        "y": 1740,
        "wires": []
    },
    {
        "id": "48977796972d4ab9",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1590,
        "y": 1740,
        "wires": []
    },
    {
        "id": "12f3f5b83580a23d",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/isMotionDetected",
        "mode": "link",
        "links": [
            "656c29854a0f9c68",
            "f3877161e3ba366e"
        ],
        "x": 1275,
        "y": 1780,
        "wires": []
    },
    {
        "id": "d8daf00ff3b65d44",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/isMotionDetected",
        "info": "",
        "x": 1440,
        "y": 1780,
        "wires": []
    },
    {
        "id": "d7684108e47f0c36",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/devices/ac233faf5c26/2",
        "info": "",
        "x": 170,
        "y": 1840,
        "wires": []
    },
    {
        "id": "ccd2409d9a11d2fb",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 540,
        "y": 1740,
        "wires": []
    },
    {
        "id": "9c5d5b201b9a5b09",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 480,
        "y": 1820,
        "wires": []
    },
    {
        "id": "54d557b47848e32a",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it isMotionDetected?",
        "func": "if(msg.payload.isMotionDetected){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1780,
        "wires": [
            [
                "6e4e1e9551cce098"
            ]
        ]
    },
    {
        "id": "fc10d2f338d12c67",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "The Espruino JoltJS https://www.espruino.com/Jolt.js",
        "info": "",
        "x": 240,
        "y": 360,
        "wires": []
    },
    {
        "id": "c53fee8ee9c05b2e",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "MINEW MSP01 Human Body Sensor https://www.minew.com/product/msp01-bluetooth-pir-sensor/",
        "info": "",
        "x": 380,
        "y": 600,
        "wires": []
    },
    {
        "id": "33b089c51188f003",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Minew E9 Waterproof Beacon https://www.minew.com/product/e9-waterproof-beacon/",
        "info": "",
        "x": 360,
        "y": 1660,
        "wires": []
    },
    {
        "id": "49e6e5b80ab0da1e",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/batteryPercentage",
        "func": "let newmsg = {\n    topic: \"/e9beacon5c26/batteryPercentage\",\n            payload: msg.payload.batteryPercentage};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1860,
        "wires": [
            [
                "7e5cc97aecd17920"
            ]
        ]
    },
    {
        "id": "002337ab102d4f3a",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/motionE8DA/batteryPercentage",
        "mode": "link",
        "links": [
            "0e67c49a5c1dbc69",
            "92148f9250905b6b"
        ],
        "x": 1275,
        "y": 1860,
        "wires": []
    },
    {
        "id": "e58e3477e15fc998",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/batteryPercentage",
        "info": "",
        "x": 1440,
        "y": 1860,
        "wires": []
    },
    {
        "id": "73889f2195070320",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it batteryPercentage?",
        "func": "if (msg.payload.batteryPercentage){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1860,
        "wires": [
            [
                "49e6e5b80ab0da1e"
            ]
        ]
    },
    {
        "id": "e53334db6f2d533b",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/acceleration",
        "func": "let newmsg = {\n    topic: \"/e9beacon5c26/acceleration\",\n            payload: msg.payload.acceleration};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1920,
        "wires": [
            [
                "db8d2a1e80114204"
            ]
        ]
    },
    {
        "id": "0ad22c5f1dca0ec8",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/acceleration",
        "mode": "link",
        "links": [
            "bcc55d3b75af50b4",
            "68c2629504ca0b28"
        ],
        "x": 1275,
        "y": 1920,
        "wires": []
    },
    {
        "id": "986ad0efcdb07805",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/e9beacon5c26/acceleration",
        "info": "",
        "x": 1420,
        "y": 1920,
        "wires": []
    },
    {
        "id": "79fd44a608cf9a6d",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it acceleration?",
        "func": "if(msg.payload.acceleration){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1920,
        "wires": [
            [
                "e53334db6f2d533b"
            ]
        ]
    },
    {
        "id": "913cf85b77bf72c6",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1120,
        "y": 700,
        "wires": [
            [
                "39d6698f6076b1cf"
            ]
        ]
    },
    {
        "id": "01da984135ffb4b5",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1160,
        "y": 1780,
        "wires": [
            [
                "12f3f5b83580a23d"
            ]
        ]
    },
    {
        "id": "7e5cc97aecd17920",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1160,
        "y": 1860,
        "wires": [
            [
                "002337ab102d4f3a"
            ]
        ]
    },
    {
        "id": "db8d2a1e80114204",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1160,
        "y": 1920,
        "wires": [
            [
                "0ad22c5f1dca0ec8"
            ]
        ]
    },
    {
        "id": "a2a4bb6ae1db4a73",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1120,
        "y": 840,
        "wires": [
            [
                "3f8a8d4cc887a6a0"
            ]
        ]
    },
    {
        "id": "7e6670f45f062dc4",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1120,
        "y": 980,
        "wires": [
            [
                "0fb34d273a62d5fd"
            ]
        ]
    },
    {
        "id": "8e419f4d7285ec5f",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1120,
        "y": 1120,
        "wires": [
            [
                "be8df522c0e4f250"
            ]
        ]
    },
    {
        "id": "b42ab26e4f368895",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1120,
        "y": 1260,
        "wires": [
            [
                "214448f98c24559e"
            ]
        ]
    },
    {
        "id": "3e7f1a7e86edd907",
        "type": "rbe",
        "z": "943e204f81529182",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1120,
        "y": 1400,
        "wires": [
            [
                "0be064a2c659c9a6"
            ]
        ]
    },
    {
        "id": "9f33f6c8963e1e03",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "This Flow maps OSC messages to named linkOuts and LinkIns, usually of the same name, or could be simplified. ",
        "info": "",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "13c54424b5ca53d5",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "this is so the Messages Swithboard looks clean and easy to play with",
        "info": "",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "900f707651e7b243",
        "type": "osc",
        "z": "9d6a628240034869",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "05c6e88af96d8fbf",
                "b3664aa62511cdcf"
            ]
        ]
    },
    {
        "id": "05c6e88af96d8fbf",
        "type": "debug",
        "z": "9d6a628240034869",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "287e700b6d46a2a0",
        "type": "udp in",
        "z": "9d6a628240034869",
        "name": "",
        "iface": "",
        "port": "7777",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "900f707651e7b243"
            ]
        ]
    },
    {
        "id": "1cd3d5b24f25cefe",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "OSC Messages come in here, over port 7777",
        "info": "",
        "x": 250,
        "y": 160,
        "wires": []
    },
    {
        "id": "5865022dfbe01843",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "Look in the debug window to see what kind of messages are coming in",
        "info": "",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "b3664aa62511cdcf",
        "type": "switch",
        "z": "9d6a628240034869",
        "name": "/joltd883/buttonPressCount",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/joltd883/buttonPressCount",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "d95291ead096abd9",
                "e56477c26cb0cacc"
            ],
            [
                "8cc41e8ca166cd4b",
                "012fd8313d1e7747"
            ]
        ]
    },
    {
        "id": "6a7fb0eb03efb21c",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "add INCOMING ROUTES based on the OSC topics",
        "info": "",
        "x": 270,
        "y": 260,
        "wires": []
    },
    {
        "id": "d95291ead096abd9",
        "type": "debug",
        "z": "9d6a628240034869",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 320,
        "wires": []
    },
    {
        "id": "8cc41e8ca166cd4b",
        "type": "debug",
        "z": "9d6a628240034869",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "5dcceb5b7c97fbb9",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "Top output if it matches",
        "info": "",
        "x": 280,
        "y": 320,
        "wires": []
    },
    {
        "id": "495e8da81d6f0da4",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "bottom output if it doesn't; pass to the next SWITCH",
        "info": "",
        "x": 270,
        "y": 400,
        "wires": []
    },
    {
        "id": "012fd8313d1e7747",
        "type": "switch",
        "z": "9d6a628240034869",
        "name": "/next/topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/topic/name/here",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f8c47f490b92c220",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "Top output if it matches",
        "info": "",
        "x": 320,
        "y": 480,
        "wires": []
    },
    {
        "id": "8cd53727e847c1f2",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "bottom output if it doesn't; pass to the next SWITCH, and so on...",
        "info": "",
        "x": 320,
        "y": 560,
        "wires": []
    },
    {
        "id": "e56477c26cb0cacc",
        "type": "link out",
        "z": "9d6a628240034869",
        "name": "/joltjsd883/buttonPressCount",
        "mode": "link",
        "links": [
            "a991b79e982ec38f",
            "26017cc35f3e96bf",
            "b8e0d1ef098a80f6"
        ],
        "x": 1005,
        "y": 360,
        "wires": []
    },
    {
        "id": "d7492a1d84fcb97b",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "/joltjsd883/buttonPressCount",
        "info": "",
        "x": 1140,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd53c2c93801bd9d",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "Pass on to named LinkOut node, to match a LinkIn in the Message Switchboard",
        "info": "",
        "x": 1240,
        "y": 320,
        "wires": []
    },
    {
        "id": "9ae421e5536f7831",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "This Flow sends messages to BLE via EspruinoHub, running on another machine",
        "info": "This machine needs to have EspruinoHub installed.",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "f6b281495b76fde7",
        "type": "function",
        "z": "bb01535f48abe2ce",
        "name": "Add a newline",
        "func": "msg.payload += \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 320,
        "wires": [
            [
                "7943ebafb2ca2e96"
            ]
        ]
    },
    {
        "id": "cb70afc7d117c778",
        "type": "mqtt out",
        "z": "bb01535f48abe2ce",
        "name": "mqtt to BLE on EspruinoHub",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "331b204cd9aa204f",
        "x": 1120,
        "y": 160,
        "wires": []
    },
    {
        "id": "014e6de00a067bc8",
        "type": "debug",
        "z": "bb01535f48abe2ce",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "cb332d7f29f9638f",
        "type": "link in",
        "z": "bb01535f48abe2ce",
        "name": "/joltjsd883/javascript",
        "links": [
            "093e2453d12cd821",
            "12d7b33aba9f5d4b"
        ],
        "x": 135,
        "y": 320,
        "wires": [
            [
                "c44e45d42a819c43"
            ]
        ]
    },
    {
        "id": "d22bd9554f7807d0",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "/joltjsd883/javascript",
        "info": "",
        "x": 250,
        "y": 320,
        "wires": []
    },
    {
        "id": "c44e45d42a819c43",
        "type": "function",
        "z": "bb01535f48abe2ce",
        "name": "set d883 topic",
        "func": "msg.topic = \"/ble/write/c8:c8:75:1d:d8:83/nus/nus_tx\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "f6b281495b76fde7"
            ]
        ]
    },
    {
        "id": "39500dc75d27d485",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "name a link in with an OSC style address, so we can use simplenames in the OSC switchboard",
        "info": "",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "f8fb605f6e78c5a3",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "set the topic to the device ID",
        "info": "",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "182e3454d1caf7c1",
        "type": "link in",
        "z": "bb01535f48abe2ce",
        "name": "/sendToEspruinoHub",
        "links": [
            "7943ebafb2ca2e96"
        ],
        "x": 955,
        "y": 160,
        "wires": [
            [
                "cb70afc7d117c778",
                "014e6de00a067bc8"
            ]
        ]
    },
    {
        "id": "7943ebafb2ca2e96",
        "type": "link out",
        "z": "bb01535f48abe2ce",
        "name": "/sendToEspruinoHub",
        "mode": "link",
        "links": [
            "182e3454d1caf7c1"
        ],
        "x": 955,
        "y": 320,
        "wires": []
    },
    {
        "id": "657c82024d773bb7",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "get all links to /sendToEspruinoHub ",
        "info": "",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "e6f9c32fbb9fe219",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "send to sendToEspruinoHub LinkIn",
        "info": "",
        "x": 1120,
        "y": 320,
        "wires": []
    },
    {
        "id": "387d401d3118970a",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "get all links to /sendToEspruinoHub ",
        "info": "",
        "x": 1080,
        "y": 120,
        "wires": []
    },
    {
        "id": "015cfaecce74dd97",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "set EspruinoHub server IP:Port on this node",
        "info": "",
        "x": 1430,
        "y": 160,
        "wires": []
    },
    {
        "id": "60a86d3823f3f5db",
        "type": "comment",
        "z": "a3efac045c708839",
        "name": "Old bits I don't want to totally delete. Parking lot.",
        "info": "",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "3ccfd232644d3611",
        "type": "pareto-anywhere-socketio",
        "z": "a3efac045c708839",
        "uri": "http://localhost:3001/devices/c8c8751dd883/3",
        "x": 80,
        "y": 200,
        "wires": [
            [
                "42afc2b2dd0ad3e2"
            ],
            []
        ]
    },
    {
        "id": "0ea6cd11bf0d3f51",
        "type": "red-advlib-ble",
        "z": "a3efac045c708839",
        "name": "decrypt each packet",
        "ignoreProtocolOverheadCheckbox": false,
        "x": 880,
        "y": 200,
        "wires": [
            [
                "e72b03d8a82489a0",
                "943d3a0f98d5e21c"
            ]
        ]
    },
    {
        "id": "df65414db9f74cb8",
        "type": "change",
        "z": "a3efac045c708839",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload.packets",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "0ea6cd11bf0d3f51"
            ]
        ]
    },
    {
        "id": "4204e108516287ef",
        "type": "debug",
        "z": "a3efac045c708839",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 200,
        "wires": []
    },
    {
        "id": "395d945f07b5fc2b",
        "type": "split",
        "z": "a3efac045c708839",
        "name": "extract packets",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload.packets",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "df65414db9f74cb8"
            ]
        ]
    },
    {
        "id": "e72b03d8a82489a0",
        "type": "switch",
        "z": "a3efac045c708839",
        "name": "is name txCount?",
        "property": "payload.advDecoded",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "txCount",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 300,
        "wires": [
            [
                "705d8e7f865f600a"
            ],
            []
        ]
    },
    {
        "id": "705d8e7f865f600a",
        "type": "change",
        "z": "a3efac045c708839",
        "name": "set payload to just the button value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.advDecoded.txCount",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 200,
        "wires": [
            [
                "7f9f23fecefd14fe"
            ]
        ]
    },
    {
        "id": "943d3a0f98d5e21c",
        "type": "debug",
        "z": "a3efac045c708839",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "7f9f23fecefd14fe",
        "type": "rbe",
        "z": "a3efac045c708839",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1310,
        "y": 300,
        "wires": [
            [
                "4204e108516287ef"
            ]
        ]
    },
    {
        "id": "42afc2b2dd0ad3e2",
        "type": "debug",
        "z": "a3efac045c708839",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 120,
        "wires": []
    },
    {
        "id": "2a8f57065fb28b88",
        "type": "function",
        "z": "a3efac045c708839",
        "name": "function 2",
        "func": "if(Array.isArray(msg.payload.packets)){\n    msg.payload.packets.reverse();\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 220,
        "wires": [
            [
                "395d945f07b5fc2b"
            ]
        ]
    },
    {
        "id": "5c685955e288d1ab",
        "type": "comment",
        "z": "a3efac045c708839",
        "name": "removed this connection so things won't happen here.",
        "info": "",
        "x": 260,
        "y": 220,
        "wires": []
    },
    {
        "id": "b8e0d1ef098a80f6",
        "type": "link in",
        "z": "d286a10585a73e58",
        "name": "/joltjsd883/buttonPressCount",
        "links": [
            "627021b995a2a0ef",
            "e56477c26cb0cacc"
        ],
        "x": 435,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "53fc1d4bad7bc041",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "/joltjsd883/buttonPressCount",
        "info": "",
        "x": 280,
        "y": 160,
        "wires": []
    },
    {
        "id": "66ad2bee53eb2ac7",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "THE INPUTS",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "da9387dc2680a057",
        "type": "link in",
        "z": "d286a10585a73e58",
        "name": "link in 2",
        "links": [
            "39d6698f6076b1cf"
        ],
        "x": 435,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "072e7c60dbbfb7b4",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "/motionE8DA/isMotionDetected [true/false]",
        "info": "",
        "x": 240,
        "y": 280,
        "wires": []
    },
    {
        "id": "14f24fcceb258547",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "/motionE8DA/temperature [float]",
        "info": "",
        "x": 270,
        "y": 340,
        "wires": []
    },
    {
        "id": "622bf26b87eb3ed9",
        "type": "link in",
        "z": "d286a10585a73e58",
        "name": "/motionE8DA/temperature",
        "links": [
            "3f8a8d4cc887a6a0"
        ],
        "x": 435,
        "y": 340,
        "wires": [
            [
                "55dba078f6391338"
            ]
        ]
    },
    {
        "id": "09c3ee45296f5cf2",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "/motionE8DA/illuminance [int]",
        "info": "",
        "x": 280,
        "y": 400,
        "wires": []
    },
    {
        "id": "c1d1dfc74b17a671",
        "type": "link in",
        "z": "d286a10585a73e58",
        "name": "/motionE8DA/illuminance",
        "links": [
            "0fb34d273a62d5fd"
        ],
        "x": 435,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e8c67115aa626043",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "/motionE8DA/acceleration [x,y,x]",
        "info": "",
        "x": 270,
        "y": 460,
        "wires": []
    },
    {
        "id": "34179481a9d37d57",
        "type": "link in",
        "z": "d286a10585a73e58",
        "name": "/motionE8DA/acceleration",
        "links": [
            "be8df522c0e4f250"
        ],
        "x": 435,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "25a47a22e68e2028",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "/motionE8DA/batteryPercentage [int]",
        "info": "",
        "x": 260,
        "y": 520,
        "wires": []
    },
    {
        "id": "92148f9250905b6b",
        "type": "link in",
        "z": "d286a10585a73e58",
        "name": "/motionE8DA/batteryPercentage",
        "links": [
            "214448f98c24559e",
            "002337ab102d4f3a"
        ],
        "x": 435,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "25b1bb849b259470",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "/motionE8DA/realtiveHumidity [float]",
        "info": "",
        "x": 260,
        "y": 580,
        "wires": []
    },
    {
        "id": "10d09e9ebbae4a39",
        "type": "link in",
        "z": "d286a10585a73e58",
        "name": "/motionE8DA/relativeHumidity",
        "links": [
            "0be064a2c659c9a6"
        ],
        "x": 435,
        "y": 580,
        "wires": [
            [
                "c6cccff2f14b9711"
            ]
        ]
    },
    {
        "id": "d3b5f91d7add3588",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "/e9beacon5c26/acceleration [x,y,x]",
        "info": "",
        "x": 260,
        "y": 680,
        "wires": []
    },
    {
        "id": "68c2629504ca0b28",
        "type": "link in",
        "z": "d286a10585a73e58",
        "name": "/e9beacon5c26/acceleration",
        "links": [
            "0ad22c5f1dca0ec8"
        ],
        "x": 435,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b958dc18d532a5ce",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "/e9beacon5c26/batteryPercentage [int]",
        "info": "",
        "x": 250,
        "y": 740,
        "wires": []
    },
    {
        "id": "b40fb4c40be74994",
        "type": "link in",
        "z": "d286a10585a73e58",
        "name": "/e9beacon5c26/batteryPercentage",
        "links": [],
        "x": 435,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "f3877161e3ba366e",
        "type": "link in",
        "z": "d286a10585a73e58",
        "name": "/e9beacon5c26/isMotionDetected",
        "links": [
            "12f3f5b83580a23d"
        ],
        "x": 435,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "db08e388efd8177f",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "/e9beacon5c26/isMotionDetected [true/false]",
        "info": "",
        "x": 230,
        "y": 800,
        "wires": []
    },
    {
        "id": "8daac43e8d594479",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "Minew E9 Waterproof Beacon https://www.minew.com/product/e9-waterproof-beacon/",
        "info": "",
        "x": 360,
        "y": 640,
        "wires": []
    },
    {
        "id": "773a6a7ee978c851",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "The Espruino JoltJS https://www.espruino.com/Jolt.js",
        "info": "",
        "x": 260,
        "y": 120,
        "wires": []
    },
    {
        "id": "c3ec776166f02b2b",
        "type": "comment",
        "z": "d286a10585a73e58",
        "name": "MINEW MSP01 Human Body Sensor https://www.minew.com/product/msp01-bluetooth-pir-sensor/",
        "info": "",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "55dba078f6391338",
        "type": "ui_chart",
        "z": "d286a10585a73e58",
        "name": "",
        "group": "1b3ec53ab98a0a0b",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temp1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "waiting on data....",
        "dot": false,
        "ymin": "-10",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c6cccff2f14b9711",
        "type": "ui_chart",
        "z": "d286a10585a73e58",
        "name": "",
        "group": "1b3ec53ab98a0a0b",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "waiting on data....",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 580,
        "wires": [
            []
        ]
    }
]