flows.json
[
    {
        "id": "9529f2fd9052e78b",
        "type": "tab",
        "label": "IoT Playground: Message Switchboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "63e4ca87ec15e7b6",
        "type": "tab",
        "label": "MicroBit  Bridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "943e204f81529182",
        "type": "tab",
        "label": "BLE in with Pareto Anywhere",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d6a628240034869",
        "type": "tab",
        "label": "OSC Bridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb01535f48abe2ce",
        "type": "tab",
        "label": "BLE OUT Bridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3efac045c708839",
        "type": "tab",
        "label": "Graveyard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ecaa01218566e73",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "16dd31f690be98d3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9d0c9e13c6e1254b",
        "type": "mqtt-broker",
        "name": "rpi-not-local",
        "broker": "http://192.168.73.88/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "331b204cd9aa204f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.73.69",
        "port": "1880",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5347604aa986a9b3",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "This flow Runs on the IoT Sandbox",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "093e2453d12cd821",
        "type": "link out",
        "z": "9529f2fd9052e78b",
        "name": "/joltjsd883/javascript",
        "mode": "link",
        "links": [
            "cb332d7f29f9638f"
        ],
        "x": 1235,
        "y": 380,
        "wires": []
    },
    {
        "id": "f05765e5ad2a800a",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/joltjsd883/javascript",
        "info": "",
        "x": 1350,
        "y": 380,
        "wires": []
    },
    {
        "id": "a991b79e982ec38f",
        "type": "link in",
        "z": "9529f2fd9052e78b",
        "name": "/joltjsd883/buttonPressCount",
        "links": [
            "627021b995a2a0ef",
            "e56477c26cb0cacc"
        ],
        "x": 275,
        "y": 380,
        "wires": [
            [
                "d3f56a97527fb425"
            ]
        ]
    },
    {
        "id": "15157771cd44e6fd",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "/joltjsd883/buttonPressCount",
        "info": "",
        "x": 120,
        "y": 380,
        "wires": []
    },
    {
        "id": "d3f56a97527fb425",
        "type": "template",
        "z": "9529f2fd9052e78b",
        "name": "LED2.set();",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "LED2.set();",
        "output": "str",
        "x": 770,
        "y": 380,
        "wires": [
            [
                "093e2453d12cd821"
            ]
        ]
    },
    {
        "id": "74b8931c4f169699",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "THE OUTPUTS",
        "info": "",
        "x": 1300,
        "y": 300,
        "wires": []
    },
    {
        "id": "daa87bb343e14c6c",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "This is the message playground, let's play!",
        "info": "",
        "x": 160,
        "y": 100,
        "wires": []
    },
    {
        "id": "508f43dc2bdec049",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "LinkIn and LinkOut nodes here match LinkOut and LinkIn nodes in other tabs, dependoing on what protocols the originally come via.",
        "info": "",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "5cedde4270e55d73",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Use Debug nodes to see what kind of data come out of the LinkOuts (the INPUTS)",
        "info": "",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "26d04fb560039b57",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "Then (optionally)modify those messages and pass them along to the named LinkIn nodes (the OUTPUTS)",
        "info": "",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "4bce475a36d6fe42",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "THE INPUTS",
        "info": "",
        "x": 70,
        "y": 300,
        "wires": []
    },
    {
        "id": "77aa25dc3e466eef",
        "type": "comment",
        "z": "9529f2fd9052e78b",
        "name": "PLAY HAPPENS HERE",
        "info": "",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "87cef86360be7223",
        "type": "serial in",
        "z": "63e4ca87ec15e7b6",
        "name": "serialp",
        "serial": "4ecaa01218566e73",
        "x": 70,
        "y": 140,
        "wires": [
            [
                "832e51e1892d2dee"
            ]
        ]
    },
    {
        "id": "8273d38b742461d1",
        "type": "osc",
        "z": "63e4ca87ec15e7b6",
        "name": "oscout",
        "path": "",
        "metadata": true,
        "x": 410,
        "y": 140,
        "wires": [
            [
                "ce86589b352c2c71"
            ]
        ]
    },
    {
        "id": "832e51e1892d2dee",
        "type": "function",
        "z": "63e4ca87ec15e7b6",
        "name": "split messsage",
        "func": "var split = msg.payload.split(\":\");\nreturn {\n    topic: \"/\"+split[0],\n    payload:split[1]\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 140,
        "wires": [
            [
                "8273d38b742461d1"
            ]
        ]
    },
    {
        "id": "ce86589b352c2c71",
        "type": "udp out",
        "z": "63e4ca87ec15e7b6",
        "name": "bcast7777",
        "addr": "192.168.73.88",
        "iface": "",
        "port": "7777",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "broad",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "5ff5a5cb5150699d",
        "type": "osc",
        "z": "63e4ca87ec15e7b6",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "a3b3ff78fa377765"
            ]
        ]
    },
    {
        "id": "dd6a7c5fd2bc57a1",
        "type": "udp in",
        "z": "63e4ca87ec15e7b6",
        "name": "",
        "iface": "",
        "port": "7778",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 80,
        "y": 300,
        "wires": [
            [
                "5ff5a5cb5150699d"
            ]
        ]
    },
    {
        "id": "02190d58f95b35a6",
        "type": "serial out",
        "z": "63e4ca87ec15e7b6",
        "name": "toMicroBit",
        "serial": "4ecaa01218566e73",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "a3b3ff78fa377765",
        "type": "function",
        "z": "63e4ca87ec15e7b6",
        "name": "split messsage",
        "func": "\nlet topic = msg.topic.replace(/^\\//,\"\");\nreturn {\n    payload:topic+\":\"+msg.payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "02190d58f95b35a6"
            ]
        ]
    },
    {
        "id": "533c9463e67d2fee",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "This flow Runs on the IoT Sandbox",
        "info": "This Flow translates Microbits Radio messages to/from OSC ",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "230cb2ed91a44c36",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Get MicroBit messages over serial from a dedicated Microbits device attached to this computer",
        "info": "",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "3016901ca21ed23b",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Send UDP messages over Serial to a dedicated Microbits device attached to this computer",
        "info": "",
        "x": 330,
        "y": 260,
        "wires": []
    },
    {
        "id": "af14cac50388c72e",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Then send them over UDP to the OSC Switchboard with a common naming convention",
        "info": "",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "5ac4fb824a5f6e19",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "Route the messages with the OSC Switchboard!",
        "info": "",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "c899758bf59368aa",
        "type": "comment",
        "z": "63e4ca87ec15e7b6",
        "name": "TODO: make named linkOut and LinkIn nodes, based on actual microbit IDs, to use in the Message Switchboard",
        "info": "",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "38cc5b4c5f2098c0",
        "type": "osc",
        "z": "943e204f81529182",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "c603450b1dfdf6ba"
            ]
        ]
    },
    {
        "id": "c603450b1dfdf6ba",
        "type": "debug",
        "z": "943e204f81529182",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "a04d3c8d9fa2ce51",
        "type": "udp in",
        "z": "943e204f81529182",
        "name": "",
        "iface": "",
        "port": "7777",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "38cc5b4c5f2098c0"
            ]
        ]
    },
    {
        "id": "c4d470ef752fbe8f",
        "type": "pareto-anywhere-socketio",
        "z": "943e204f81529182",
        "uri": "http://localhost:3001/devices/c8c8751dd883/3",
        "name": "Pareto JoltJS c8c8751dd883/3",
        "x": 170,
        "y": 440,
        "wires": [
            [],
            [
                "39714e8ba6c34ecb"
            ]
        ]
    },
    {
        "id": "57c7f54bd83b1b4a",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "This flow Runs on IoT Sandbox, with ParetoAnywhere Installed",
        "info": "This machine needs to have ParetoAnywhere installed.",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "41759bd8c50d792e",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "when creating new BLE messages, use dynamb property names from here: https://reelyactive.github.io/diy/cheatsheet/#dynamb",
        "info": "",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "0d246c6d36f59726",
        "type": "function",
        "z": "943e204f81529182",
        "name": "/joltd883/buttonPressCount",
        "func": "let newmsg = {topic: \"/joltd883/buttonPressCount\",\n            payload: msg.payload.txCount};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 440,
        "wires": [
            [
                "627021b995a2a0ef"
            ]
        ]
    },
    {
        "id": "4cfe56bd16725cf3",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "each device property gets their own section here",
        "info": "# each device property gets their own section here",
        "x": 820,
        "y": 340,
        "wires": []
    },
    {
        "id": "5d85724301b80d54",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "assign a device ID here",
        "info": "",
        "x": 140,
        "y": 400,
        "wires": []
    },
    {
        "id": "b663a9463fb05cf2",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "create a topic name, and assign the payload here",
        "info": "",
        "x": 940,
        "y": 400,
        "wires": []
    },
    {
        "id": "25e7c3bfc958a671",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1570,
        "y": 400,
        "wires": []
    },
    {
        "id": "528a29e47b1dce71",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "this is for debug purposes, to see if the messages you're generating below are going through",
        "info": "# each device property gets their own section here",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "627021b995a2a0ef",
        "type": "link out",
        "z": "943e204f81529182",
        "name": "/joltjsd883/buttonPressCount",
        "mode": "link",
        "links": [
            "a991b79e982ec38f"
        ],
        "x": 1255,
        "y": 440,
        "wires": []
    },
    {
        "id": "6c4de670e0e62f9b",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/joltjsd883/buttonPressCount",
        "info": "",
        "x": 1400,
        "y": 440,
        "wires": []
    },
    {
        "id": "8c84e08698db7ccb",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "/devices/c8c8751dd883/3",
        "info": "",
        "x": 150,
        "y": 480,
        "wires": []
    },
    {
        "id": "23f72742cac028f4",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "187f3783b671189d",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "39714e8ba6c34ecb",
        "type": "function",
        "z": "943e204f81529182",
        "name": "is it txCount?",
        "func": "if(msg.payload.txCount){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 440,
        "wires": [
            [
                "0d246c6d36f59726"
            ]
        ]
    },
    {
        "id": "60f62919685ff439",
        "type": "comment",
        "z": "943e204f81529182",
        "name": "Code below for identifying and routing BLE device messages",
        "info": "",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "9f33f6c8963e1e03",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "This Flow maps OSC messages to named linkOuts and LinkIns, usually of the same name, or could be simplified. ",
        "info": "",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "13c54424b5ca53d5",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "this is so the Messages Swithboard looks clean and easy to play with",
        "info": "",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "900f707651e7b243",
        "type": "osc",
        "z": "9d6a628240034869",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "05c6e88af96d8fbf",
                "b3664aa62511cdcf"
            ]
        ]
    },
    {
        "id": "05c6e88af96d8fbf",
        "type": "debug",
        "z": "9d6a628240034869",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "287e700b6d46a2a0",
        "type": "udp in",
        "z": "9d6a628240034869",
        "name": "",
        "iface": "",
        "port": "7777",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "900f707651e7b243"
            ]
        ]
    },
    {
        "id": "1cd3d5b24f25cefe",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "OSC Messages come in here, over port 7777",
        "info": "",
        "x": 250,
        "y": 160,
        "wires": []
    },
    {
        "id": "5865022dfbe01843",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "Look in the debug window to see what kind of messages are coming in",
        "info": "",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "b3664aa62511cdcf",
        "type": "switch",
        "z": "9d6a628240034869",
        "name": "/joltd883/buttonPressCount",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/joltd883/buttonPressCount",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "d95291ead096abd9",
                "e56477c26cb0cacc"
            ],
            [
                "8cc41e8ca166cd4b",
                "012fd8313d1e7747"
            ]
        ]
    },
    {
        "id": "6a7fb0eb03efb21c",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "add INCOMING ROUTES based on the OSC topics",
        "info": "",
        "x": 270,
        "y": 260,
        "wires": []
    },
    {
        "id": "d95291ead096abd9",
        "type": "debug",
        "z": "9d6a628240034869",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 320,
        "wires": []
    },
    {
        "id": "8cc41e8ca166cd4b",
        "type": "debug",
        "z": "9d6a628240034869",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "5dcceb5b7c97fbb9",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "Top output if it matches",
        "info": "",
        "x": 280,
        "y": 320,
        "wires": []
    },
    {
        "id": "495e8da81d6f0da4",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "bottom output if it doesn't; pass to the next SWITCH",
        "info": "",
        "x": 270,
        "y": 400,
        "wires": []
    },
    {
        "id": "012fd8313d1e7747",
        "type": "switch",
        "z": "9d6a628240034869",
        "name": "/next/topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/topic/name/here",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f8c47f490b92c220",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "Top output if it matches",
        "info": "",
        "x": 320,
        "y": 480,
        "wires": []
    },
    {
        "id": "8cd53727e847c1f2",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "bottom output if it doesn't; pass to the next SWITCH, and so on...",
        "info": "",
        "x": 320,
        "y": 560,
        "wires": []
    },
    {
        "id": "e56477c26cb0cacc",
        "type": "link out",
        "z": "9d6a628240034869",
        "name": "/joltjsd883/buttonPressCount",
        "mode": "link",
        "links": [
            "a991b79e982ec38f"
        ],
        "x": 1005,
        "y": 360,
        "wires": []
    },
    {
        "id": "d7492a1d84fcb97b",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "/joltjsd883/buttonPressCount",
        "info": "",
        "x": 1140,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd53c2c93801bd9d",
        "type": "comment",
        "z": "9d6a628240034869",
        "name": "Pass on to named LinkOut node, to match a LinkIn in the Message Switchboard",
        "info": "",
        "x": 1240,
        "y": 320,
        "wires": []
    },
    {
        "id": "9ae421e5536f7831",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "This Flow sends messages to BLE via EspruinoHub, running on another machine",
        "info": "This machine needs to have EspruinoHub installed.",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "f6b281495b76fde7",
        "type": "function",
        "z": "bb01535f48abe2ce",
        "name": "Add a newline",
        "func": "msg.payload += \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 320,
        "wires": [
            [
                "7943ebafb2ca2e96"
            ]
        ]
    },
    {
        "id": "cb70afc7d117c778",
        "type": "mqtt out",
        "z": "bb01535f48abe2ce",
        "name": "mqtt to BLE on EspruinoHub",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "331b204cd9aa204f",
        "x": 1120,
        "y": 160,
        "wires": []
    },
    {
        "id": "014e6de00a067bc8",
        "type": "debug",
        "z": "bb01535f48abe2ce",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "cb332d7f29f9638f",
        "type": "link in",
        "z": "bb01535f48abe2ce",
        "name": "/joltjsd883/javascript",
        "links": [
            "093e2453d12cd821"
        ],
        "x": 135,
        "y": 320,
        "wires": [
            [
                "c44e45d42a819c43"
            ]
        ]
    },
    {
        "id": "d22bd9554f7807d0",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "/joltjsd883/javascript",
        "info": "",
        "x": 250,
        "y": 320,
        "wires": []
    },
    {
        "id": "c44e45d42a819c43",
        "type": "function",
        "z": "bb01535f48abe2ce",
        "name": "set d883 topic",
        "func": "msg.topic = \"/ble/write/c8:c8:75:1d:d8:83/nus/nus_tx\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "f6b281495b76fde7"
            ]
        ]
    },
    {
        "id": "39500dc75d27d485",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "name a link in with an OSC style address, so we can use simplenames in the OSC switchboard",
        "info": "",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "f8fb605f6e78c5a3",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "set the topic to the device ID",
        "info": "",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "182e3454d1caf7c1",
        "type": "link in",
        "z": "bb01535f48abe2ce",
        "name": "/sendToEspruinoHub",
        "links": [
            "7943ebafb2ca2e96"
        ],
        "x": 955,
        "y": 160,
        "wires": [
            [
                "cb70afc7d117c778",
                "014e6de00a067bc8"
            ]
        ]
    },
    {
        "id": "7943ebafb2ca2e96",
        "type": "link out",
        "z": "bb01535f48abe2ce",
        "name": "/sendToEspruinoHub",
        "mode": "link",
        "links": [
            "182e3454d1caf7c1"
        ],
        "x": 815,
        "y": 320,
        "wires": []
    },
    {
        "id": "657c82024d773bb7",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "get all links to /sendToEspruinoHub ",
        "info": "",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "e6f9c32fbb9fe219",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "send to sendToEspruinoHub LinkIn",
        "info": "",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "387d401d3118970a",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "get all links to /sendToEspruinoHub ",
        "info": "",
        "x": 1080,
        "y": 120,
        "wires": []
    },
    {
        "id": "015cfaecce74dd97",
        "type": "comment",
        "z": "bb01535f48abe2ce",
        "name": "set EspruinoHub server IP:Port on this node",
        "info": "",
        "x": 1430,
        "y": 160,
        "wires": []
    },
    {
        "id": "60a86d3823f3f5db",
        "type": "comment",
        "z": "a3efac045c708839",
        "name": "Old bits I don't want to totally delete. Parking lot.",
        "info": "",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "3ccfd232644d3611",
        "type": "pareto-anywhere-socketio",
        "z": "a3efac045c708839",
        "uri": "http://localhost:3001/devices/c8c8751dd883/3",
        "x": 80,
        "y": 200,
        "wires": [
            [
                "42afc2b2dd0ad3e2"
            ],
            []
        ]
    },
    {
        "id": "0ea6cd11bf0d3f51",
        "type": "red-advlib-ble",
        "z": "a3efac045c708839",
        "name": "decrypt each packet",
        "ignoreProtocolOverheadCheckbox": false,
        "x": 880,
        "y": 200,
        "wires": [
            [
                "e72b03d8a82489a0",
                "943d3a0f98d5e21c"
            ]
        ]
    },
    {
        "id": "df65414db9f74cb8",
        "type": "change",
        "z": "a3efac045c708839",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload.packets",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "0ea6cd11bf0d3f51"
            ]
        ]
    },
    {
        "id": "4204e108516287ef",
        "type": "debug",
        "z": "a3efac045c708839",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 200,
        "wires": []
    },
    {
        "id": "395d945f07b5fc2b",
        "type": "split",
        "z": "a3efac045c708839",
        "name": "extract packets",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload.packets",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "df65414db9f74cb8"
            ]
        ]
    },
    {
        "id": "e72b03d8a82489a0",
        "type": "switch",
        "z": "a3efac045c708839",
        "name": "is name txCount?",
        "property": "payload.advDecoded",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "txCount",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 300,
        "wires": [
            [
                "705d8e7f865f600a"
            ],
            []
        ]
    },
    {
        "id": "705d8e7f865f600a",
        "type": "change",
        "z": "a3efac045c708839",
        "name": "set payload to just the button value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.advDecoded.txCount",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 200,
        "wires": [
            [
                "7f9f23fecefd14fe"
            ]
        ]
    },
    {
        "id": "943d3a0f98d5e21c",
        "type": "debug",
        "z": "a3efac045c708839",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "7f9f23fecefd14fe",
        "type": "rbe",
        "z": "a3efac045c708839",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1310,
        "y": 300,
        "wires": [
            [
                "4204e108516287ef"
            ]
        ]
    },
    {
        "id": "42afc2b2dd0ad3e2",
        "type": "debug",
        "z": "a3efac045c708839",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 120,
        "wires": []
    },
    {
        "id": "2a8f57065fb28b88",
        "type": "function",
        "z": "a3efac045c708839",
        "name": "function 2",
        "func": "if(Array.isArray(msg.payload.packets)){\n    msg.payload.packets.reverse();\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 220,
        "wires": [
            [
                "395d945f07b5fc2b"
            ]
        ]
    },
    {
        "id": "5c685955e288d1ab",
        "type": "comment",
        "z": "a3efac045c708839",
        "name": "removed this connection so things won't happen here.",
        "info": "",
        "x": 260,
        "y": 220,
        "wires": []
    }
]